daf-lan3-d-euwe-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "daf-lan3-d-euwe-adf"
		},
		"AzureMySql1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureMySql1'"
		},
		"AzurePostgreSql1master_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzurePostgreSql1master'"
		},
		"dafctlan3postgresmaster_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/0d01fd30-a216-42aa-809a-57c280730851/resourceGroups/daf-lan3-d-euwe-rsg-pgrmd/providers/Microsoft.DBforPostgreSQL/servers/dafct-lan3-d-euwe-cdp-pgsql-master"
		},
		"dafctlan3postgresmaster_properties_groupId": {
			"type": "string",
			"defaultValue": "postgresqlServer"
		},
		"dafctlan3postgresmaster_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"dafct-lan3-d-euwe-cdp-pgsql-master.postgres.database.azure.com"
			]
		},
		"daflan3mysqlprivateendpoint_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/0d01fd30-a216-42aa-809a-57c280730851/resourceGroups/daf-lan3-d-euwe-rsg-pgrmd/providers/Microsoft.DBforMySQL/servers/dafct-lan3-d-euwe-cdp-mysql-master"
		},
		"daflan3mysqlprivateendpoint_properties_groupId": {
			"type": "string",
			"defaultValue": "mysqlServer"
		},
		"daflan3mysqlprivateendpoint_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"dafct-lan3-d-euwe-cdp-mysql-master.mysql.database.azure.com"
			]
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Group')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Group_Chg_Accounts",
						"description": "Makes default dynamic group for Accounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT DISTINCT\n'A' as object_type,\n'D' as group_type,\n'A' as function_enum            ,\nS.id as organization_id,\n'All accounts' as name                     ,\n'All accounts' as description              ,\n(select extract(epoch from now()) * 1000) as created_at,\nCASE WHEN L.organization_id IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\nCURRENT_TIMeSTAMP AS LOAD_DT\nfrom master.organization S\nleft join master.group L\nON S.ID = L.organization_id\nwhere ('D' <> L.group_type OR\n  'A'  <> L.function_enum OR\n  'All accounts'  <> L.name  OR\n  'All accounts' <> L.description OR\n  L.organization_id IS NULL)\n  \n  UNION\n\nSELECT DISTINCT\n'V' as object_type,\n'D' as group_type,\n'A' as function_enum            ,\nS.id as organization_id,\n'Fleet' as name                     ,\n'Fleet' as description              ,\n(select extract(epoch from now()) * 1000) as created_at,\nCASE WHEN L.organization_id IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\nCURRENT_TIMeSTAMP AS LOAD_DT\nfrom master.organization S\nleft join master.group L\nON S.ID = L.organization_id\nwhere ('D' <> L.group_type OR\n  'A'  <> L.function_enum OR\n  'Fleet'  <> L.name  OR\n  'Fleet' <> L.description OR\n  L.organization_id IS NULL);\n  \n\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "object_type",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "object_type",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "group_type",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "group_type",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "function_enum",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "function_enum",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Group_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Group",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_Group_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.object_type       ,\nE.group_type                  ,\nE.function_enum,\nE.organization_id,\nE.name,\nE.description,\nE.created_at\nFROM staging.Group_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.GROUP L\n             WHERE    L.organization_id = E.organization_id)\nORDER BY \n    \tE.organization_id;"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "object_type",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "object_type",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "group_type",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "group_type",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "function_enum",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "function_enum",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Group_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Group",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update_Group_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Group_Chg_Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.GROUP L \nSET\t \nobject_type\t=\tS.object_type  ,\ngroup_type\t=\tS.group_type,  \nfunction_enum\t=\tS.function_enum  ,\nname\t=\tS.name  ,\ndescription\t=\tS.description  \nFROM    staging.GROUP_CHG S\nWHERE L.organization_id = S.organization_id \n  AND  S.CHG_FLG     = 'X';\n\nSELECT * FROM STAGING.GROUP_CHG;"
							},
							"dataset": {
								"referenceName": "Group",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Organization')]",
				"[concat(variables('factoryId'), '/datasets/Group_CHG')]",
				"[concat(variables('factoryId'), '/datasets/Group')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Organization')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Organization_CT1",
						"description": "Migrate Organization data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select * from  daf_ct_wl.organization where org_id not in (select distinct org_id from  daf_ct_wl.organization_duplicacy)\nunion\nselect * from  daf_ct_wl.organization where org_id in (select distinct org_id from  daf_ct_wl.organization_duplicacy)  and street is not null;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "org_id",
											"type": "String"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "Byte[]"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "reference_date",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_CT1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Organization_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Organization_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Organization_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tcoalesce(L.ID,0) AS ID,\nS.ORG_ID                        ,\nS.TYPE                          ,\nS.NAME                          ,\nS.ADDRESS_TYPE                  ,\nS.STREET                        ,\nsubstring(S.STREET,'[0-9]+')  as STREET_NUMBER                  ,\nS.POSTAL_CODE                   ,\nS.CITY                          ,\nCASE WHEN S.COUNTRY_CODE  IS NOT NULL THEN cnty.code ELSE NULL END AS country_code,\n(select extract(epoch from cast(S.reference_date as timestamp)) * 1000) as REFERENCE_DATE,\nS.PREFERENCE_ID                 ,\nS.VEHICLE_DEFAULT_OPT_IN        ,\nS.DRIVER_DEFAULT_OPT_IN         ,\nS.STATE                         ,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMeSTAMP AS LOAD_DT\n\t\nFROM\n       public.organization S\nLEFT JOIN \n       master.organization L\nON S.ORG_ID = L.ORG_ID\nLEFT join master.country cnty\non s.country_code = cnty.name\nWHERE ( S.TYPE\t<>\tL.TYPE\tOR\nS.NAME\t<>\tL.NAME\tOR\nS.ADDRESS_TYPE\t<>\tL.ADDRESS_TYPE\tOR\nS.STREET\t<>\tL.STREET\tOR\nS.STREET_NUMBER\t<>\tL.STREET_NUMBER\tOR\nS.POSTAL_CODE\t<>\tL.POSTAL_CODE\tOR\nS.CITY\t<>\tL.CITY\tOR\nS.COUNTRY_CODE\t<>\tL.COUNTRY_CODE\tOR\n(select extract(epoch from cast(S.reference_date as timestamp)) * 1000)\t<>\tL.REFERENCE_DATE\tOR\nS.PREFERENCE_ID\t<>\tL.PREFERENCE_ID\tOR\nS.VEHICLE_DEFAULT_OPT_IN\t<>\tL.VEHICLE_DEFAULT_OPT_IN\tOR\nS.DRIVER_DEFAULT_OPT_IN\t<>\tL.DRIVER_DEFAULT_OPT_IN\tOR\nS.STATE\t<>\tL.STATE  OR\n\t    L.ID IS NULL);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.ORGANIZATION_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "preference_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "preference_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Organization_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update_Organization_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Organization_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.ORGANIZATION L \nSET\t \nTYPE\t=\tE.TYPE\t,\nNAME\t=\tE.NAME\t,\nADDRESS_TYPE\t=\tE.ADDRESS_TYPE\t,\nSTREET\t=\tE.STREET\t,\nSTREET_NUMBER\t=\tE.STREET_NUMBER\t,\nPOSTAL_CODE\t=\tE.POSTAL_CODE\t,\nCITY\t=\tE.CITY\t,\nCOUNTRY_CODE\t=\tE.COUNTRY_CODE\t,\nREFERENCE_DATE\t=\tE.REFERENCE_DATE\t,\nPREFERENCE_ID\t=\tE.PREFERENCE_ID\t,\nVEHICLE_DEFAULT_OPT_IN\t=\tE.VEHICLE_DEFAULT_OPT_IN\t,\nDRIVER_DEFAULT_OPT_IN\t=\tE.DRIVER_DEFAULT_OPT_IN\t,\nSTATE\t=\tE.STATE\nFROM    staging.organization_chg E\nWHERE L.org_id = E.org_id \n  AND  E.CHG_FLG     = 'X';\n  \nSELECT * FROM STAGING.ORGANIZATION_CHG WHERE CHG_FLG = 'X';"
							},
							"dataset": {
								"referenceName": "Organization",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Organization",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_Organization_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tE.ORG_ID                        ,\n\tE.NAME                          ,\n\tE.ADDRESS_TYPE                  ,\n\tCASE WHEN E.STREET  IS NOT NULL THEN E.STREET ELSE '' END AS STREET  ,\n\tCASE WHEN E.STREET_NUMBER  IS NOT NULL THEN E.STREET_NUMBER ELSE '' END AS STREET_NUMBER ,\n\tCASE WHEN E.POSTAL_CODE  IS NOT NULL THEN E.POSTAL_CODE ELSE '' END AS POSTAL_CODE                 ,\n\tCASE WHEN E.CITY IS NOT NULL THEN E.CITY ELSE '' END AS CITY                         ,\n\tCASE WHEN E.COUNTRY_CODE IS NOT NULL THEN E.COUNTRY_CODE ELSE '' END AS COUNTRY_CODE                 ,\n\tE.REFERENCE_DATE                ,\n\tE.VEHICLE_DEFAULT_OPT_IN        ,\n\tE.DRIVER_DEFAULT_OPT_IN         ,\n\tE.STATE                \n\t\nFROM staging.Organization_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.ORGANIZATION L\n             WHERE    L.ORG_ID = E.ORG_ID)\nORDER BY \n    \tORG_ID;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Organization",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Organization_CT1')]",
				"[concat(variables('factoryId'), '/datasets/Organization_source')]",
				"[concat(variables('factoryId'), '/datasets/Organization_CHG')]",
				"[concat(variables('factoryId'), '/datasets/Organization')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Vehicle_CT1",
						"description": "Migrate Vehicle data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select distinct vh.id,prty.id as organization_id,vh.name as Name,vh.VIN,vh.plate_number as license_plate_number,\nvh.connected_object_status as status,     \nnull as status_changed_date,\nnull as termination_date,\nvh.vehicle_vid as vid,typ.type as type,\neq.supplier_serial_number as tcu_id,\neq.serial_number as tcu_serial_number,\nvh.brand as tcu_brand,\n'1.0' as tcu_version,\nCASE WHEN eq.serial_number is not null then 'True' ELSE 'False' END is_tcu_register,\nNULL as reference_date,\nNULL as vehicle_property_id,\nvh.creation_date as created_at,\nvh.model_name as model_id,\n1 as oem_id,\n2 as oem_organisation_id,\n'H' as opt_in,\nvh.last_modification_date as modified_at,\n'False' as is_ota,\nnull as modified_by,\nREPLACE(JSON_EXTRACT(co.metadata,'$.fuelType'),'\"','') as fuel_type\nfrom cle_pc_cvp_fap.vehicle vh\nleft join daf.co_connected_object co\non co.internal_id = vh.vehicle_vid\nleft join daf.co_connected_object_type typ\non typ.id = co.connected_object_type\nleft join daf.co_third_party prty\non typ.third_party_id = prty.id\nleft join cle_pc_cvp_fap.equipment eq\non eq.vehicle_id = vh.id;\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "organization_id",
											"type": "Int64"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "VIN",
											"type": "String"
										},
										"sink": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "license_plate_number",
											"type": "String"
										},
										"sink": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vid",
											"type": "String"
										},
										"sink": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_id",
											"type": "String"
										},
										"sink": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_serial_number",
											"type": "String"
										},
										"sink": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_brand",
											"type": "String"
										},
										"sink": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_version",
											"type": "String"
										},
										"sink": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "is_tcu_register",
											"type": "String"
										},
										"sink": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "DateTime"
										},
										"sink": {
											"name": "created_at",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "model_id",
											"type": "String"
										},
										"sink": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "oem_id",
											"type": "Int64"
										},
										"sink": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "oem_organisation_id",
											"type": "Int64"
										},
										"sink": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "opt_in",
											"type": "String"
										},
										"sink": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "modified_at",
											"type": "DateTime"
										},
										"sink": {
											"name": "modified_at",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "is_ota",
											"type": "String"
										},
										"sink": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "fuel_type",
											"type": "String"
										},
										"sink": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Vehicle_CT1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Vehicle_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Vehicle_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Vehicle_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tcoalesce(L.ID,0) AS ID,\nORG.ID  as ORGANIZATION_ID,\nS.NAME,\nS.VIN,\nS.LICENSE_PLATE_NUMBER,\nCASE WHEN  S.STATUS IN ('OPERATING','RESUMING','CREATED','READY','CONNECTED') THEN 'C'\n     WHEN  S.STATUS = 'TERMINATING' THEN 'T'\n     WHEN  S.STATUS = 'SUSPENDED' THEN 'O'\nEND AS STATUS,     \nS.STATUS_CHANGED_DATE,\nS.TERMINATION_DATE,\nS.VID,\nCASE WHEN S.TYPE = 'RIGID_HEAVY_TRUCK' THEN 'R'\n     WHEN S.TYPE = 'ARTICULATED_TRUCK' THEN 'A'\n\t WHEN S.TYPE = 'LCV' THEN 'L'\n     WHEN S.TYPE = 'TRAILER' THEN 'T'\t \n\t WHEN S.TYPE = 'VL'  THEN 'V'\n\t WHEN S.TYPE = 'SEMITRAILER' THEN 'S'\n\t WHEN S.TYPE = 'NONE' THEN 'N'\n\t ELSE 'N' END AS TYPE,\nS.TCU_ID,\nS.TCU_SERIAL_NUMBER,\nS.TCU_BRAND,\nS.TCU_VERSION,\nS.IS_TCU_REGISTER,\nS.REFERENCE_DATE,\nVP.ID AS VEHICLE_PROPERTY_ID,\n(SELECT EXTRACT(EPOCH FROM CAST(S.CREATED_AT AS TIMESTAMP)) * 1000) AS  CREATED_AT, \nS.MODEL_ID,\nCASE WHEN SUBSTRING(S.VIN,1,3) IS NOT NULL AND SUBSTRING(S.VIN,1,3) = TRIM(OM.VIN_PREFIX)\n     THEN OM.ID\n     ELSE (SELECT ID FROM MASTER.OEM WHERE TRIM(VIN_PREFIX) ISNULL)  END AS OEM_ID,\nCASE WHEN SUBSTRING(S.VIN,1,3) IS NOT NULL AND SUBSTRING(S.VIN,1,3) = TRIM(OM.VIN_PREFIX)\n     THEN OM.OEM_ORGANISATION_ID \n     ELSE (SELECT OEM_ORGANISATION_ID FROM MASTER.OEM WHERE TRIM(VIN_PREFIX) ISNULL)  END  AS OEM_ORGANISATION_ID, \nCASE WHEN S.STATUS = 'SUSPENDED' THEN 'U' ELSE 'H' END AS OPT_IN,\n(SELECT EXTRACT(EPOCH FROM CAST(S.MODIFIED_AT AS TIMESTAMP)) * 1000) AS MODIFIED_AT,\nS.IS_OTA,\nS.MODIFIED_BY,\nS.FUEL_TYPE,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMESTAMP AS LOAD_DT\n\t\nFROM\n       public.Vehicle S\nLEFT JOIN PUBLIC.ORGANIZATION ORG_CT1\nON ORG_CT1.ID = S.ORGANIZATION_ID\nLEFT JOIN MASTER.ORGANIZATION ORG\nON ORG.ORG_ID = ORG_CT1.ORG_ID\nLEFT JOIN PUBLIC.VEHICLEPROPERTIES PVP\nON PVP.VEHICLE_VID = S.VID\nLEFT JOIN MASTER.VEHICLEPROPERTIES VP\nON VP.CHASIS_ID = PVP.CHASIS_ID\nLEFT JOIN MASTER.OEM OM\nON OM.VIN_PREFIX = SUBSTRING(S.VIN,1,3) AND OM.VIN_PREFIX IS NOT NULL\t   \nLEFT JOIN \n       master.Vehicle L\nON S.VID = L.VID  AND L.VIN = S.VIN\nWHERE S.VIN IS NOT NULL AND ( ORG.ID <>\tL.ORGANIZATION_ID\tOR\nS.name\t<>\tL.name\tOR\nS.license_plate_number\t<>\tL.license_plate_number\tOR\nCASE WHEN  S.STATUS IN ('OPERATING','RESUMING','CREATED','READY','CONNECTED') THEN 'C'\n     WHEN  S.STATUS = 'TERMINATING' THEN 'T'\n     WHEN  S.STATUS = 'SUSPENDED' THEN 'O'\nEND\t<>\tL.status\tOR\nS.status_changed_date\t<>\tL.status_changed_date\tOR\nS.termination_date\t<>\tL.termination_date\tOR\nCASE WHEN S.TYPE = 'RIGID_HEAVY_TRUCK' THEN 'R'\n     WHEN S.TYPE = 'ARTICULATED_TRUCK' THEN 'A'\n\t WHEN S.TYPE = 'LCV' THEN 'L'\n     WHEN S.TYPE = 'TRAILER' THEN 'T'\t \n\t WHEN S.TYPE = 'VL'  THEN 'V'\n\t WHEN S.TYPE = 'SEMITRAILER' THEN 'S'\n\t WHEN S.TYPE = 'NONE' THEN 'N'\n\t ELSE 'N' END\t<>\tL.TYPE\tOR\nS.TCU_ID\t<>\tL.TCU_ID\tOR\nS.tcu_serial_number\t<>\tL.tcu_serial_number\tOR\nS.tcu_brand\t<>\tL.tcu_brand\tOR\nS.tcu_version\t<>\tL.tcu_version  OR\nS.is_tcu_register\t<>\tL.is_tcu_register  OR\nS.reference_date\t<>\tL.reference_date  OR\nVP.ID     \t<>\tL.vehicle_property_id  OR\n(SELECT EXTRACT(EPOCH FROM CAST(S.CREATED_AT AS TIMESTAMP)) * 1000)\t<>\tL.CREATED_AT  OR\nS.model_id\t<>\tL.model_id  OR\nCASE WHEN SUBSTRING(S.VIN,1,3) IS NOT NULL AND SUBSTRING(S.VIN,1,3) = TRIM(OM.VIN_PREFIX)\n     THEN OM.ID\n     ELSE (SELECT ID FROM MASTER.OEM WHERE TRIM(VIN_PREFIX) ISNULL)  END\t<>\tL.OEM_ID  OR\nCASE WHEN SUBSTRING(S.VIN,1,3) IS NOT NULL AND SUBSTRING(S.VIN,1,3) = TRIM(OM.VIN_PREFIX)\n     THEN OM.OEM_ORGANISATION_ID \n     ELSE (SELECT OEM_ORGANISATION_ID FROM MASTER.OEM WHERE TRIM(VIN_PREFIX) ISNULL)  END\t<>\tL.OEM_ORGANISATION_ID  OR\nCASE WHEN S.STATUS = 'SUSPENDED' THEN 'U' ELSE 'H' END\t<>\tL.OPT_IN  OR\n(SELECT EXTRACT(EPOCH FROM CAST(S.MODIFIED_AT AS TIMESTAMP)) * 1000)\t<>\tL.MODIFIED_AT  OR\nS.IS_OTA\t<>\tL.IS_OTA  OR\nS.MODIFIED_BY\t<>\tL.MODIFIED_BY  OR\nS.FUEL_TYPE\t<>\tL.FUEL_TYPE  OR\n  L.ID IS NULL\n);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.VEHICLE_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "status_changed_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "status_changed_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "termination_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "termination_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										},
										"sink": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vehicle_property_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "vehicle_property_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "modified_at",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "modified_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										},
										"sink": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "modified_by",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "modified_by",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Vehicle_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Vehicle_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update_Vehicle_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Vehicle_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.VEHICLE L \nSET\t \nORGANIZATION_ID\t=\tS.ORGANIZATION_ID\t,\nNAME\t=\tS.NAME\t,\nVIN\t=\tS.VIN\t,\nLICENSE_PLATE_NUMBER\t=\tS.LICENSE_PLATE_NUMBER\t,\nSTATUS\t=\tS.STATUS\t,\nSTATUS_CHANGED_DATE\t=\tS.STATUS_CHANGED_DATE\t,\nTERMINATION_DATE\t=\tS.TERMINATION_DATE\t,\nTYPE\t\t=\tS.TYPE\t,\nTCU_ID\t=\tS.TCU_ID\t,\nTCU_SERIAL_NUMBER\t=\tS.TCU_SERIAL_NUMBER\t,\nTCU_BRAND\t=\tS.TCU_BRAND\t,\nTCU_VERSION\t=\tS.TCU_VERSION\t,\nIS_TCU_REGISTER\t=\tS.IS_TCU_REGISTER  ,\nREFERENCE_DATE\t=\tS.REFERENCE_DATE  ,\nVEHICLE_PROPERTY_ID\t=\tS.VEHICLE_PROPERTY_ID  ,\nCREATED_AT\t=\tS.CREATED_AT  ,\nMODEL_ID\t=\tS.MODEL_ID  ,\nOEM_ID\t=\tS.OEM_ID  ,\nOEM_ORGANISATION_ID\t=\tS.OEM_ORGANISATION_ID  ,\nOPT_IN\t=\tS.OPT_IN  ,\nMODIFIED_AT\t=\tS.MODIFIED_AT  ,\nIS_OTA\t=\tS.IS_OTA  ,\nMODIFIED_BY\t=\tS.MODIFIED_BY  ,\nFUEL_TYPE\t=\tS.FUEL_TYPE  \nFROM    staging.Vehicle_CHG S\nWHERE L.VID = S.VID \nAND L.VIN = S.VIN\n  AND  S.CHG_FLG     = 'X';\n\nselect * from staging.vehicle_chg ;"
							},
							"dataset": {
								"referenceName": "Vehicle",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Vehicle",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_Vehicle_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.ORGANIZATION_ID       ,\nE.NAME                  ,\nE.VIN                   ,\nE.LICENSE_PLATE_NUMBER  ,\nE.STATUS                ,\nE.STATUS_CHANGED_DATE   ,\nE.TERMINATION_DATE      ,\nE.VID                   ,\nE.TYPE                  ,\nE.TCU_ID                ,\nE.TCU_SERIAL_NUMBER     ,\nE.TCU_BRAND             ,\nE.TCU_VERSION           ,\nE.IS_TCU_REGISTER       ,\nE.REFERENCE_DATE        ,\nE.VEHICLE_PROPERTY_ID   ,\nE.CREATED_AT            ,\nE.MODEL_ID              ,\nE.OEM_ID                ,\nE.OEM_ORGANISATION_ID   ,\nE.OPT_IN                ,\nE.MODIFIED_AT           ,\nE.IS_OTA                ,\nE.MODIFIED_BY           ,\nE.FUEL_TYPE             \nFROM staging.Vehicle_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.VEHICLE L\n             WHERE   L.VIN = E.VIN) \nORDER BY \n    \tE.VIN;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "status_changed_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "status_changed_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "termination_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "termination_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										},
										"sink": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vehicle_property_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "vehicle_property_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "modified_at",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "modified_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										},
										"sink": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "modified_by",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "modified_by",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Vehicle_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Vehicle",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Vehicle_CT1')]",
				"[concat(variables('factoryId'), '/datasets/Vehicle_Source')]",
				"[concat(variables('factoryId'), '/datasets/Vehicle_CHG')]",
				"[concat(variables('factoryId'), '/datasets/Vehicle')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleAxleProperties')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VehicleAxleProperties_CT1",
						"description": "Migrate VehicleAxleProperties data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "SELECT distinct\nvh.vehicle_vid,\nReplace(JSON_EXTRACT(co.metadata,'$.frontAxleType'),'\"','') as frontaxletype,\nReplace(JSON_EXTRACT(co.metadata,'$.rearAxleLoad'),'\"','') as rearaxleload,\nReplace(JSON_EXTRACT(co.metadata,'$.rearAxleRatio'),'\"','') as rearaxleratio,\nReplace(JSON_EXTRACT(co.metadata,'$.tyreSizeRear1'),'\"','') as TyreRearsize,\nReplace(JSON_EXTRACT(co.metadata,'$.tyreSizeFrontAxle1'),'\"','') as TyreFrontsize\nfrom cle_pc_cvp_fap.vehicle vh\nleft join daf.co_connected_object co\non co.internal_id = vh.vehicle_vid\nleft join daf.co_connected_object_type typ\non typ.id = co.connected_object_type\nleft join daf.co_third_party prty\non typ.third_party_id = prty.id\nwhere (Replace(JSON_EXTRACT(co.metadata,'$.frontAxleType'),'\"','') is not null OR \nReplace(JSON_EXTRACT(co.metadata,'$.rearAxleLoad'),'\"','') IS NOT NULL or\nReplace(JSON_EXTRACT(co.metadata,'$.rearAxleRatio'),'\"','') IS NOT NULL OR\nReplace(JSON_EXTRACT(co.metadata,'$.tyreSizeRear1'),'\"','')  IS NOT NULL OR\nReplace(JSON_EXTRACT(co.metadata,'$.tyreSizeFrontAxle1'),'\"','') IS NOT NULL);",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "vehicle_vid",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_vid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "frontaxletype",
											"type": "String"
										},
										"sink": {
											"name": "frontaxletype",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "rearaxleload",
											"type": "String"
										},
										"sink": {
											"name": "rearaxleload",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "rearaxleratio",
											"type": "String"
										},
										"sink": {
											"name": "rearaxleratio",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "TyreRearsize",
											"type": "String"
										},
										"sink": {
											"name": "tyrerearsize",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "TyreFrontsize",
											"type": "String"
										},
										"sink": {
											"name": "tyrefrontsize",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleAxleProperties_CT1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleAxleProperties_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Insert_VehicleAxleProperties_CHG_F",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VehicleAxleProperties_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "do\n$$\ndeclare\n    f record;\nbegin\n    for f in SELECT vehicle_vid,frontaxletype,rearaxleload,rearaxleratio,TyreRearsize,TyreFrontsize\n\tfrom public.vehicleaxleproperties\n    loop\t    \n\t INSERT INTO staging.Vehicleaxleproperties_chg\n\t (\n\t\t vehicle_id,\naxle_type,\nposition,\ntype,\nsprings,\nload,\nratio,\nsize,\nchg_flg,\nload_dt\n)\nSELECT distinct\n      vh.id as vehicle_id,\n\t\t\t'F', 1, f.frontaxletype, null,null, null,f.TyreFrontsize,\nCASE WHEN L.vehicle_id IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\nCURRENT_TIMeSTAMP AS LOAD_DT\nFROM MASTER.VEHICLE vh\nLEFT JOIN master.vehicleaxleproperties L\nON L.vehicle_id = vh.id \nWHERE vh.vid = f.vehicle_vid and ('1'  <> L.position  OR\n\t   f.frontaxletype  <> L.type OR\n\t   f.TyreFrontsize <> L.size OR\n\t   L.vehicle_ID is null)  AND L.axle_type = 'F';\n\n\t   end loop;\nend;\n$$;\n\nselect * from staging.vehicleaxleproperties_chg;"
							},
							"dataset": {
								"referenceName": "VehicleAxleProperties_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Insert_VehicleAxleProperties_CHG_R",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Insert_VehicleAxleProperties_CHG_F",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "do\n$$\ndeclare\n    f record;\nbegin\n    for f in SELECT vehicle_vid,frontaxletype,rearaxleload,rearaxleratio,TyreRearsize,TyreFrontsize\n\tfrom public.vehicleaxleproperties\n    loop\t    \n\t INSERT INTO staging.Vehicleaxleproperties_chg\n\t (\n\t\t vehicle_id,\naxle_type,\nposition,\ntype,\nsprings,\nload,\nratio,\nsize,\nchg_flg,\nload_dt\n)\nSELECT distinct\n      vh.id as vehicle_id,\n\t\t\t'R',1, NULL,NULL, f.rearaxleload, f.rearaxleratio,f.TyreRearsize,\nCASE WHEN L.vehicle_id IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\nCURRENT_TIMeSTAMP AS LOAD_DT\nFROM MASTER.VEHICLE vh\nLEFT JOIN master.vehicleaxleproperties L\nON L.vehicle_id = vh.id \nWHERE vh.vid = f.vehicle_vid and ('1'  <> L.position  OR\n\t   f.rearaxleload  <> L.load OR\n\t   f.rearaxleratio <> L.ratio OR\n\t   f.TyreRearsize <> L.size OR\n\t   L.vehicle_ID is null)  AND L.axle_type = 'R';\n\n\t   end loop;\nend;\n$$;\n\nselect * from staging.vehicleaxleproperties_chg;"
							},
							"dataset": {
								"referenceName": "VehicleAxleProperties_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VehicleAxleProperties_CT1')]",
				"[concat(variables('factoryId'), '/datasets/VehicleAxleProperties_Source')]",
				"[concat(variables('factoryId'), '/datasets/VehicleAxleProperties_CHG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VehicleFuelTankProperties_CT1",
						"description": "Migrate Organization data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select distinct vh.id,\nvh.vehicle_vid,\nvh.extra_chassis_number as chasis_fuel_tank_number,\nvh.extra_volume_fuel_tank as chasis_fuel_tank_volume\nfrom cle_pc_cvp_fap.vehicle vh\nleft join daf.co_connected_object co\non co.internal_id = vh.vehicle_vid\nleft join daf.co_connected_object_type typ\non typ.id = co.connected_object_type\nleft join daf.co_third_party prty\non typ.third_party_id = prty.id\nWHERE vh.extra_chassis_number is not null;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "chasis_fuel_tank_number",
											"type": "String"
										},
										"sink": {
											"name": "chasis_fuel_tank_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_fuel_tank_volume",
											"type": "Double"
										},
										"sink": {
											"name": "chasis_fuel_tank_volume",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vehicle_vid",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_vid",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleFuelTankProperties_CT1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleFuelTankProperties_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "VehicleFuelTankProperties_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "VehicleFuelTankProperties_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT DISTINCT\n\tcoalesce(L.ID,0) AS ID,\n\tvh.ID as VEHICLE_ID                      ,  \nS.CHASIS_FUEL_TANK_NUMBER                              ,\nS.CHASIS_FUEL_TANK_VOLUME                                       ,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMeSTAMP AS LOAD_DT\n\t\nFROM\n       public.VehicleFuelTankProperties S\nJOIN master.vehicle vh\non vh.vid = S.vehicle_vid\nLEFT JOIN \n       master.VehicleFuelTankProperties L\nON vh.id = L.vehicle_id\n\nWHERE (\nS.CHASIS_FUEL_TANK_NUMBER\t<>\tL.CHASIS_FUEL_TANK_NUMBER  OR\n\tS.CHASIS_FUEL_TANK_VOLUME\t<>\tL.CHASIS_FUEL_TANK_VOLUME  OR\n\t    L.ID IS NULL\n);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.VEHICLEFUELTANKPROPERTIES_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "chasis_fuel_tank_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_fuel_tank_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_fuel_tank_volume",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_fuel_tank_volume",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									},
									{
										"source": {
											"name": "vehicle_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "vehicle_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleFuelTankProperties_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleFuelTankProperties_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update_VehicleFuelTankProperties_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VehicleFuelTankProperties_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.VehicleFuelTankProperties L \nSET\t \nCHASIS_FUEL_TANK_NUMBER\t=\tS.CHASIS_FUEL_TANK_NUMBER  ,\nCHASIS_FUEL_TANK_VOLUME\t=\tS.CHASIS_FUEL_TANK_VOLUME  \nFROM    staging.VehicleFuelTankProperties_CHG S\nWHERE L.vehicle_id = S.vehicle_id \n  AND  S.CHG_FLG     = 'X';\n\nselect * from staging.vehiclefueltankproperties_chg;"
							},
							"dataset": {
								"referenceName": "VehicleFuelTankProperties",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "VehicleFuelTankProperties",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_VehicleFuelTankProperties_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.vehicle_id       ,\nE.CHASIS_FUEL_TANK_NUMBER                  ,\nE.CHASIS_FUEL_TANK_VOLUME\nFROM staging.VehicleFuelTankProperties_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.VehicleFuelTankProperties L\n             WHERE    L.vehicle_id = E.vehicle_id)\nORDER BY \n    \tCHASIS_FUEL_TANK_NUMBER;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "vehicle_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "vehicle_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "chasis_fuel_tank_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_fuel_tank_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_fuel_tank_volume",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_fuel_tank_volume",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleFuelTankProperties_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleFuelTankProperties",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VehicleFuelTankProperties_CT1')]",
				"[concat(variables('factoryId'), '/datasets/VehicleFuelTankProperties_Source')]",
				"[concat(variables('factoryId'), '/datasets/VehicleFuelTankProperties_CHG')]",
				"[concat(variables('factoryId'), '/datasets/VehicleFuelTankProperties')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VehicleProperties_CT1",
						"description": "Migrate Organization data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "SELECT distinct\nvh.vehicle_creation_date as manufacture_date,\nnull as delivery_date,\nvh.brand as make,\nvh.extra_length as length,\nvh.extra_height as height,\nvh.extra_gross_weight as weight,\nnull as engine_id,\nvh.extra_engine_type as engine_type,\nvh.engine_power,\nvh.extra_coolant as engine_coolant,\nCASE WHEN vh.emission_level  is NULL THEN vh.CO2_NORM END as engine_emission_level,\nvh.extra_chassis_number as chasis_id,\nvh.extra_rear_overhang as chasis_rear_overhang,\ncase when vh.axle_configuration is null then REPLACE(JSON_EXTRACT(co.metadata,'$.wheelPlanType'),'\"','') end  as driveline_axle_configuration,\nvh.extra_wheel_base as driveline_wheel_base,\nvh.extra_tyre_size_front_axle_1 as driveline_tire_size,\nnull as transmission_gearbox_id,\nvh.extra_gearbox_type  as transmission_gearbox_type,\nvh.extra_chassis_number as cabin_id,\nnull as series_id,\nREPLACE(JSON_EXTRACT(co.metadata,'$.sdType'),'\"','') as  series_vehicle_range,\ncase when vh.model_year is null then vh.construction_year end as model_year,\nvh.extra_cab_type as cabin_type,\nvh.extra_roof_spoiler  as cabin_roofspoiler,\n'ECU Type' as electronic_control_unit_type,\n'ECU control unit (SCU)' as electronic_control_unit_name,\n'Gross' as weight_type,\nCASE WHEN vh.extra_side_skirts = 'side skirts' THEN 'Yes' ELSE 'No' END AS chasis_side_skirts,\nCASE WHEN vh.extra_side_collars = 'side collars' THEN 'Yes' ELSE 'No' END AS chasis_side_collar,\nvh.extra_width  as width,\nvh.model_name as type_id,\nvh.vehicle_vid\n\nfrom cle_pc_cvp_fap.vehicle vh\nleft join daf.co_connected_object co\non co.internal_id = vh.vehicle_vid\nleft join daf.co_connected_object_type typ\non typ.id = co.connected_object_type\nleft join daf.co_third_party prty\non typ.third_party_id = prty.id\nleft join cle_pc_cvp_fap.equipment eq\non eq.vehicle_id = vh.id\nwhere vh.extra_chassis_number is not null;\n\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "manufacture_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "Double"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "Double"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "Double"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "Double"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vehicle_vid",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_vid",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_CT1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "VehicleProperties_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "VehicleProperties_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT DISTINCT\n\tcoalesce(L.ID,0) AS ID,\n\t(select extract(epoch from cast(vp_dup.MANUFACTURE_DATE as timestamp))  * 1000) as MANUFACTURE_DATE,\n  \nS.DELIVERY_DATE                              ,\nS.MAKE                                       ,\nS.LENGTH                                     ,\nS.HEIGHT                                     ,\nS.WEIGHT                                     ,\nS.ENGINE_ID                                  ,\nS.ENGINE_TYPE                                ,\nS.ENGINE_POWER                               ,\nS.ENGINE_COOLANT                             ,\nS.ENGINE_EMISSION_LEVEL                      ,\nS.CHASIS_ID                                  ,\nS.CHASIS_REAR_OVERHANG                       ,\nS.DRIVELINE_AXLE_CONFIGURATION               ,\nS.DRIVELINE_WHEEL_BASE                       ,\nS.DRIVELINE_TIRE_SIZE                        ,\nS.TRANSMISSION_GEARBOX_ID                    ,\nS.TRANSMISSION_GEARBOX_TYPE                  ,\nS.CABIN_ID                                   ,\nS.SERIES_ID                                  ,\nS.SERIES_VEHICLE_RANGE                       ,\nS.MODEL_YEAR                                 ,\nS.CABIN_TYPE                                 ,\nS.CABIN_ROOFSPOILER                          ,\nS.ELECTRONIC_CONTROL_UNIT_TYPE               ,\nS.ELECTRONIC_CONTROL_UNIT_NAME               ,\nS.WEIGHT_TYPE                                ,\nS.CHASIS_SIDE_SKIRTS                         ,\nS.CHASIS_SIDE_COLLAR                         ,\nS.WIDTH                                      ,\nS.TYPE_ID                        ,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMeSTAMP AS LOAD_DT\n\t\nFROM\n       public.VehicleProperties S\nLEFT JOIN \n       master.VehicleProperties L\nON S.CHASIS_ID = L.CHASIS_ID\nLEFT JOIN (SELECT chasis_id,MAX(MANUFACTURE_DATE) as manufacture_date FROM public.vehicleproperties group by chasis_id) vp_dup\nON vp_dup.CHASIS_ID = S.CHASIS_ID\nWHERE (\n(select extract(epoch from cast(vp_dup.MANUFACTURE_DATE as timestamp))  * 1000)\t<>\tL.MANUFACTURE_DATE\tOR\nS.DELIVERY_DATE\t<>\tL.DELIVERY_DATE\tOR\nS.MAKE\t<>\tL.MAKE\tOR\nS.LENGTH\t<>\tL.LENGTH\tOR\nS.HEIGHT\t<>\tL.HEIGHT\tOR\nS.WEIGHT\t<>\tL.WEIGHT\tOR\nS.ENGINE_ID\t\t<>\tL.ENGINE_ID\tOR\nS.ENGINE_TYPE\t<>\tL.ENGINE_TYPE\tOR\nS.ENGINE_POWER\t<>\tL.ENGINE_POWER\tOR\nS.ENGINE_COOLANT\t<>\tL.ENGINE_COOLANT\tOR\nS.ENGINE_EMISSION_LEVEL\t<>\tL.ENGINE_EMISSION_LEVEL\tOR\nS.CHASIS_REAR_OVERHANG\t<>\tL.CHASIS_REAR_OVERHANG  OR\nS.DRIVELINE_AXLE_CONFIGURATION\t<>\tL.DRIVELINE_AXLE_CONFIGURATION  OR\nS.DRIVELINE_WHEEL_BASE\t<>\tL.DRIVELINE_WHEEL_BASE  OR\nS.DRIVELINE_TIRE_SIZE\t<>\tL.DRIVELINE_TIRE_SIZE  OR\nS.TRANSMISSION_GEARBOX_ID\t<>\tL.TRANSMISSION_GEARBOX_ID  OR\nS.TRANSMISSION_GEARBOX_TYPE\t<>\tL.TRANSMISSION_GEARBOX_TYPE  OR\nS.CABIN_ID\t<>\tL.CABIN_ID  OR\nS.SERIES_ID\t<>\tL.SERIES_ID  OR\nS.SERIES_VEHICLE_RANGE\t<>\tL.SERIES_VEHICLE_RANGE  OR\nS.MODEL_YEAR\t<>\tL.MODEL_YEAR  OR\nS.CABIN_TYPE\t<>\tL.CABIN_TYPE  OR\nS.CABIN_ROOFSPOILER\t<>\tL.CABIN_ROOFSPOILER  OR\nS.ELECTRONIC_CONTROL_UNIT_TYPE\t<>\tL.ELECTRONIC_CONTROL_UNIT_TYPE  OR\nS.ELECTRONIC_CONTROL_UNIT_NAME\t<>\tL.ELECTRONIC_CONTROL_UNIT_NAME  OR\nS.WEIGHT_TYPE\t<>\tL.WEIGHT_TYPE  OR\nS.CHASIS_SIDE_SKIRTS\t<>\tL.CHASIS_SIDE_SKIRTS  OR\nS.CHASIS_SIDE_COLLAR\t<>\tL.CHASIS_SIDE_COLLAR  OR\nS.WIDTH\t<>\tL.WIDTH  OR\nS.TYPE_ID\t<>\tL.TYPE_ID  OR\n\t    L.ID IS NULL\n);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.VEHICLEPROPERTIES_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "manufacture_date",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update_VehicleProperties_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VehicleProperties_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.VEHICLEPROPERTIES L \nSET\t \nMANUFACTURE_DATE\t=\tS.MANUFACTURE_DATE\t,\nDELIVERY_DATE\t=\tS.DELIVERY_DATE\t,\nMAKE\t=\tS.MAKE\t,\nLENGTH\t=\tS.LENGTH\t,\nHEIGHT\t=\tS.HEIGHT\t,\nWEIGHT\t=\tS.WEIGHT\t,\nENGINE_ID\t\t=\tS.ENGINE_ID\t,\nENGINE_TYPE\t=\tS.ENGINE_TYPE\t,\nENGINE_POWER\t=\tS.ENGINE_POWER\t,\nENGINE_COOLANT\t=\tS.ENGINE_COOLANT\t,\nENGINE_EMISSION_LEVEL\t=\tS.ENGINE_EMISSION_LEVEL\t,\nCHASIS_REAR_OVERHANG\t=\tS.CHASIS_REAR_OVERHANG  ,\nDRIVELINE_AXLE_CONFIGURATION\t=\tS.DRIVELINE_AXLE_CONFIGURATION  ,\nDRIVELINE_WHEEL_BASE\t=\tS.DRIVELINE_WHEEL_BASE  ,\nDRIVELINE_TIRE_SIZE\t=\tS.DRIVELINE_TIRE_SIZE  ,\nTRANSMISSION_GEARBOX_ID\t=\tS.TRANSMISSION_GEARBOX_ID  ,\nTRANSMISSION_GEARBOX_TYPE\t=\tS.TRANSMISSION_GEARBOX_TYPE  ,\nCABIN_ID\t=\tS.CABIN_ID  ,\nSERIES_ID\t=\tS.SERIES_ID  ,\nSERIES_VEHICLE_RANGE\t=\tS.SERIES_VEHICLE_RANGE  ,\nMODEL_YEAR\t=\tS.MODEL_YEAR  ,\nCABIN_TYPE\t=\tS.CABIN_TYPE  ,\nCABIN_ROOFSPOILER\t=\tS.CABIN_ROOFSPOILER  ,\nELECTRONIC_CONTROL_UNIT_TYPE\t=\tS.ELECTRONIC_CONTROL_UNIT_TYPE  ,\nELECTRONIC_CONTROL_UNIT_NAME\t=\tS.ELECTRONIC_CONTROL_UNIT_NAME  ,\nWEIGHT_TYPE\t=\tS.WEIGHT_TYPE  ,\nCHASIS_SIDE_SKIRTS\t=\tS.CHASIS_SIDE_SKIRTS  ,\nCHASIS_SIDE_COLLAR\t=\tS.CHASIS_SIDE_COLLAR  ,\nWIDTH\t=\tS.WIDTH  ,\nTYPE_ID\t=\tS.TYPE_ID  \nFROM    staging.VehicleProperties_CHG S\nWHERE L.CHASIS_ID = S.CHASIS_ID \n  AND  S.CHG_FLG     = 'X';\n  \nselect * from staging.vehicleproperties_chg;"
							},
							"dataset": {
								"referenceName": "VehicleProperties",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "VehicleProperties",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_VehicleProperties_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.MANUFACTURE_DATE                           ,\nE.DELIVERY_DATE                              ,\nE.MAKE                                       ,\nE.LENGTH                                     ,\nE.HEIGHT                                     ,\nE.WEIGHT                                     ,\nE.ENGINE_ID                                  ,\nE.ENGINE_TYPE                                ,\nE.ENGINE_POWER                               ,\nE.ENGINE_COOLANT                             ,\nE.ENGINE_EMISSION_LEVEL                      ,\nE.CHASIS_ID                                  ,\nE.CHASIS_REAR_OVERHANG                       ,\nE.DRIVELINE_AXLE_CONFIGURATION               ,\nE.DRIVELINE_WHEEL_BASE                       ,\nE.DRIVELINE_TIRE_SIZE                        ,\nE.TRANSMISSION_GEARBOX_ID                    ,\nE.TRANSMISSION_GEARBOX_TYPE                  ,\nE.CABIN_ID                                   ,\nE.SERIES_ID                                  ,\nE.SERIES_VEHICLE_RANGE                       ,\nE.MODEL_YEAR                                 ,\nE.CABIN_TYPE                                 ,\nE.CABIN_ROOFSPOILER                          ,\nE.ELECTRONIC_CONTROL_UNIT_TYPE               ,\nE.ELECTRONIC_CONTROL_UNIT_NAME               ,\nE.WEIGHT_TYPE                                ,\nE.CHASIS_SIDE_SKIRTS                         ,\nE.CHASIS_SIDE_COLLAR                         ,\nE.WIDTH                                      ,\nE.TYPE_ID                        \nFROM staging.VehicleProperties_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.VEHICLEPROPERTIES L\n             WHERE    L.CHASIS_ID = E.CHASIS_ID)\nORDER BY \n    \tCHASIS_ID;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VehicleProperties_CT1')]",
				"[concat(variables('factoryId'), '/datasets/VehicleProperties_Source')]",
				"[concat(variables('factoryId'), '/datasets/VehicleProperties_CHG')]",
				"[concat(variables('factoryId'), '/datasets/VehicleProperties')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Subscription",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select distinct prty.external_id as org_id,co.internal_id as vid,pk.external_id as packagecode,\n/*cos.commercial_service_name,*/\nsub.activation_date,sub.end_date,sub.status\nfrom daf.co_third_party prty\njoin daf.co_pack_subscription pkg\non pkg.third_party_id = prty.id\njoin daf.co_resource_subscription sub\non sub.pack_subscription_id = pkg.id\njoin daf.co_commercial_subscription cs\non cs.resource_subscription_id = sub.id\njoin daf.co_link_pack_commercial_service pcs\non pcs.pack_id = pkg.pack_id\njoin daf.co_commercial_service cos\non cos.id = pcs.commercial_service_id\njoin daf.co_connected_object co\non co.id = sub.resource_id\njoin daf.co_pack pk\non pk.id = pkg.pack_id\nwhere  prty.external_id in (select distinct customer_id from daf_ct_wl.priority_customers);",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "org_id",
											"type": "String"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vid",
											"type": "String"
										},
										"sink": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "packagecode",
											"type": "String"
										},
										"sink": {
											"name": "package_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "activation_date",
											"type": "Int64"
										},
										"sink": {
											"name": "subscription_start_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "end_date",
											"type": "Int64"
										},
										"sink": {
											"name": "subscription_end_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_CT1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Subscription",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-13T02:39:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Organization_CT1')]",
				"[concat(variables('factoryId'), '/datasets/Subscription')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Group')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "object_type",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "group_type",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "argument",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "function_enum",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "organization_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ref_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "group"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Group_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "object_type",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "group_type",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "argument",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "function_enum",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "organization_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ref_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chg_flg",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load_dt",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "group_chg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Organization')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "org_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "address_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "street",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "street_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "postal_code",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "city",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "country_code",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "reference_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "preference_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_default_opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driver_default_opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "state",
						"type": "character",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "organization"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Organization_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "org_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "address_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "street",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "street_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "postal_code",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "city",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "country_code",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "reference_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "preference_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_default_opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driver_default_opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "state",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chg_flg",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load_dt",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "organization_chg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Organization_CT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Organization_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": "organization"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Subscription')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "org_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "package_code",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "subscription_start_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "subscription_end_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "state",
						"type": "character",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "subscription"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "organization_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vin",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "license_plate_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status_changed_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "termination_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_serial_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_brand",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_version",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_tcu_register",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "reference_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_property_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_organisation_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_ota",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_by",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fuel_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "vehicle"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleAxleProperties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "axle_type",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "position",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "springs",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ratio",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "size",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_wheel_tire_size_replaced",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "vehicleaxleproperties"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleAxleProperties_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "vehicle_vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "frontaxletype",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rearaxleload",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rearaxleratio",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tyrerearsize",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tyrefrontsize",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "vehicleaxleproperties_chg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleAxleProperties_CT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleAxleProperties_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "vehicle_vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "frontaxletype",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rearaxleload",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rearaxleratio",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tyrerearsize",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tyrefrontsize",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "vehicleaxleproperties"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_volume",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "vehiclefueltankproperties"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_volume",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chg_flg",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load_dt",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "vehiclefueltankproperties_chg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties_CT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_volume",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "vehiclefueltankproperties"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "manufacture_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "delivery_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "make",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "length",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "height",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weight",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_power",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_coolant",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_emission_level",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_rear_overhang",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_axle_configuration",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_wheel_base",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_tire_size",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transmission_gearbox_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transmission_gearbox_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "series_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "series_vehicle_range",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_year",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_roofspoiler",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "electronic_control_unit_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "electronic_control_unit_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weight_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_side_skirts",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_side_collar",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "width",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "vehicleproperties"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "manufacture_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "delivery_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "make",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "length",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "height",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weight",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_power",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_coolant",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_emission_level",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_rear_overhang",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_axle_configuration",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_wheel_base",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_tire_size",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transmission_gearbox_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transmission_gearbox_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "series_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "series_vehicle_range",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_year",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_roofspoiler",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "electronic_control_unit_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "electronic_control_unit_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weight_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_side_skirts",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_side_collar",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "width",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chg_flg",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load_dt",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "vehicleproperties_chg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties_CT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "vehicle_vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "frontaxletype",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rearaxleload",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rearaxleratio",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tyrerearsize",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tyrefrontsize",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "vehicleproperties"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "organization_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vin",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "license_plate_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status_changed_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "termination_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_serial_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_brand",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_version",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_tcu_register",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "reference_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_property_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_organisation_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_ota",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_by",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fuel_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chg_flg",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load_dt",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "vehicle_chg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_CT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "organization_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vin",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "license_plate_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status_changed_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "termination_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_serial_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_brand",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_version",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_tcu_register",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "reference_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_property_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_organisation_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_ota",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_by",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fuel_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "vehicle"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMySql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('AzureMySql1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "daf-lan3-euwe-adf-mvnet-ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/daf-lan3-euwe-adf-mvnet-ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql1master')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('AzurePostgreSql1master_connectionString')]"
				},
				"connectVia": {
					"referenceName": "daf-lan3-euwe-adf-mvnet-ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/daf-lan3-euwe-adf-mvnet-ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/daf-lan3-euwe-adf-mvnet-ir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/dafctlan3postgresmaster')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('dafctlan3postgresmaster_properties_privateLinkResourceId')]",
				"groupId": "[parameters('dafctlan3postgresmaster_properties_groupId')]",
				"fqdns": "[parameters('dafctlan3postgresmaster_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/daflan3mysqlprivateendpoint')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('daflan3mysqlprivateendpoint_properties_privateLinkResourceId')]",
				"groupId": "[parameters('daflan3mysqlprivateendpoint_properties_groupId')]",
				"fqdns": "[parameters('daflan3mysqlprivateendpoint_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrgRela')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Group_Chg_Accounts",
						"description": "Makes default dynamic group for Accounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT DISTINCT\n'A' as object_type,\n'D' as group_type,\n'A' as function_enum            ,\nS.id as organization_id,\n'All accounts' as name                     ,\n'All accounts' as description              ,\n(select extract(epoch from now()) * 1000) as created_at,\nCASE WHEN L.organization_id IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\nCURRENT_TIMeSTAMP AS LOAD_DT\nfrom master.organization S\nleft join master.group L\nON S.ID = L.organization_id\nwhere ('D' <> L.group_type OR\n  'A'  <> L.function_enum OR\n  'All accounts'  <> L.name  OR\n  'All accounts' <> L.description OR\n  L.organization_id IS NULL)\n  \n  UNION\n\nSELECT DISTINCT\n'V' as object_type,\n'D' as group_type,\n'A' as function_enum            ,\nS.id as organization_id,\n'Fleet' as name                     ,\n'Fleet' as description              ,\n(select extract(epoch from now()) * 1000) as created_at,\nCASE WHEN L.organization_id IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\nCURRENT_TIMeSTAMP AS LOAD_DT\nfrom master.organization S\nleft join master.group L\nON S.ID = L.organization_id\nwhere ('D' <> L.group_type OR\n  'A'  <> L.function_enum OR\n  'Fleet'  <> L.name  OR\n  'Fleet' <> L.description OR\n  L.organization_id IS NULL);\n  \n\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "object_type",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "object_type",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "group_type",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "group_type",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "function_enum",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "function_enum",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Group_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Group",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_Group_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.object_type       ,\nE.group_type                  ,\nE.function_enum,\nE.organization_id,\nE.name,\nE.description,\nE.created_at\nFROM staging.Group_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.GROUP L\n             WHERE    L.organization_id = E.organization_id)\nORDER BY \n    \tE.organization_id;"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "object_type",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "object_type",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "group_type",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "group_type",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "function_enum",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "function_enum",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Group_CHG",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Group",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update_Group_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Group_Chg_Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.GROUP L \nSET\t \nobject_type\t=\tS.object_type  ,\ngroup_type\t=\tS.group_type,  \nfunction_enum\t=\tS.function_enum  ,\nname\t=\tS.name  ,\ndescription\t=\tS.description  \nFROM    staging.GROUP_CHG S\nWHERE L.organization_id = S.organization_id \n  AND  S.CHG_FLG     = 'X';\n\nSELECT * FROM STAGING.GROUP_CHG;"
							},
							"dataset": {
								"referenceName": "Group",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Organization')]",
				"[concat(variables('factoryId'), '/datasets/Group_CHG')]",
				"[concat(variables('factoryId'), '/datasets/Group')]"
			]
		}
	]
}