daf-lan3-d-euwe-adf/PartialArmTemplates/ArmTemplate_8_22_2021_20_21_23.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "daf-lan3-d-euwe-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Vehicle_CT1",
						"description": "Migrate Vehicle data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select distinct vh.id,prty.id as organization_id,vh.name as Name,vh.VIN,vh.plate_number as license_plate_number,\nvh.connected_object_status as status,     \nnull as status_changed_date,\nnull as termination_date,\nvh.vehicle_vid as vid,typ.type as type,\neq.supplier_serial_number as tcu_id,\neq.serial_number as tcu_serial_number,\nvh.brand as tcu_brand,\n'1.0' as tcu_version,\nCASE WHEN eq.serial_number is not null then 'True' ELSE 'False' END is_tcu_register,\nNULL as reference_date,\nNULL as vehicle_property_id,\nvh.creation_date as created_at,\nvh.model_name as model_id,\n1 as oem_id,\n2 as oem_organisation_id,\n'H' as opt_in,\nvh.last_modification_date as modified_at,\n'False' as is_ota,\nnull as modified_by,\nREPLACE(JSON_EXTRACT(co.metadata,'$.fuelType'),'\"','') as fuel_type\nfrom cle_pc_cvp_fap.vehicle vh\nleft join daf.co_connected_object co\non co.internal_id = vh.vehicle_vid\nleft join daf.co_connected_object_type typ\non typ.id = co.connected_object_type\nleft join daf.co_third_party prty\non typ.third_party_id = prty.id\nleft join cle_pc_cvp_fap.equipment eq\non eq.vehicle_id = vh.id;\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "organization_id",
											"type": "Int64"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "VIN",
											"type": "String"
										},
										"sink": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "license_plate_number",
											"type": "String"
										},
										"sink": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vid",
											"type": "String"
										},
										"sink": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_id",
											"type": "String"
										},
										"sink": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_serial_number",
											"type": "String"
										},
										"sink": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_brand",
											"type": "String"
										},
										"sink": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_version",
											"type": "String"
										},
										"sink": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "is_tcu_register",
											"type": "String"
										},
										"sink": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "DateTime"
										},
										"sink": {
											"name": "created_at",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "model_id",
											"type": "String"
										},
										"sink": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "oem_id",
											"type": "Int64"
										},
										"sink": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "oem_organisation_id",
											"type": "Int64"
										},
										"sink": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "opt_in",
											"type": "String"
										},
										"sink": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "modified_at",
											"type": "DateTime"
										},
										"sink": {
											"name": "modified_at",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "is_ota",
											"type": "String"
										},
										"sink": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "fuel_type",
											"type": "String"
										},
										"sink": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Vehicle_CT1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Vehicle_Source",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Vehicle_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Vehicle_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tcoalesce(L.ID,0) AS ID,\nORG.ID  as ORGANIZATION_ID,\nS.NAME,\nS.VIN,\nS.LICENSE_PLATE_NUMBER,\nCASE WHEN  S.STATUS IN ('OPERATING','RESUMING','CREATED','READY','CONNECTED') THEN 'C'\n     WHEN  S.STATUS = 'TERMINATING' THEN 'T'\n     WHEN  S.STATUS = 'SUSPENDED' THEN 'O'\nEND AS STATUS,     \nS.STATUS_CHANGED_DATE,\nS.TERMINATION_DATE,\nS.VID,\nCASE WHEN S.TYPE = 'RIGID_HEAVY_TRUCK' THEN 'R'\n     WHEN S.TYPE = 'ARTICULATED_TRUCK' THEN 'A'\n\t WHEN S.TYPE = 'LCV' THEN 'L'\n     WHEN S.TYPE = 'TRAILER' THEN 'T'\t \n\t WHEN S.TYPE = 'VL'  THEN 'V'\n\t WHEN S.TYPE = 'SEMITRAILER' THEN 'S'\n\t WHEN S.TYPE = 'NONE' THEN 'N'\n\t ELSE 'N' END AS TYPE,\nS.TCU_ID,\nS.TCU_SERIAL_NUMBER,\nS.TCU_BRAND,\nS.TCU_VERSION,\nS.IS_TCU_REGISTER,\nS.REFERENCE_DATE,\nVP.ID AS VEHICLE_PROPERTY_ID,\n(SELECT EXTRACT(EPOCH FROM CAST(S.CREATED_AT AS TIMESTAMP)) * 1000) AS  CREATED_AT, \nS.MODEL_ID,\nCASE WHEN SUBSTRING(S.VIN,1,3) IS NOT NULL AND SUBSTRING(S.VIN,1,3) = TRIM(OM.VIN_PREFIX)\n     THEN OM.ID\n     ELSE (SELECT ID FROM MASTER.OEM WHERE TRIM(VIN_PREFIX) ISNULL)  END AS OEM_ID,\nCASE WHEN SUBSTRING(S.VIN,1,3) IS NOT NULL AND SUBSTRING(S.VIN,1,3) = TRIM(OM.VIN_PREFIX)\n     THEN OM.OEM_ORGANISATION_ID \n     ELSE (SELECT OEM_ORGANISATION_ID FROM MASTER.OEM WHERE TRIM(VIN_PREFIX) ISNULL)  END  AS OEM_ORGANISATION_ID, \nCASE WHEN S.STATUS = 'SUSPENDED' THEN 'U' ELSE 'H' END AS OPT_IN,\n(SELECT EXTRACT(EPOCH FROM CAST(S.MODIFIED_AT AS TIMESTAMP)) * 1000) AS MODIFIED_AT,\nS.IS_OTA,\nS.MODIFIED_BY,\nS.FUEL_TYPE,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMESTAMP AS LOAD_DT\n\t\nFROM\n       public.Vehicle S\nLEFT JOIN PUBLIC.ORGANIZATION ORG_CT1\nON ORG_CT1.ID = S.ORGANIZATION_ID\nLEFT JOIN MASTER.ORGANIZATION ORG\nON ORG.ORG_ID = ORG_CT1.ORG_ID\nLEFT JOIN PUBLIC.VEHICLEPROPERTIES PVP\nON PVP.VEHICLE_VID = S.VID\nLEFT JOIN MASTER.VEHICLEPROPERTIES VP\nON VP.CHASIS_ID = PVP.CHASIS_ID\nLEFT JOIN MASTER.OEM OM\nON OM.VIN_PREFIX = SUBSTRING(S.VIN,1,3) AND OM.VIN_PREFIX IS NOT NULL\t   \nLEFT JOIN \n       master.Vehicle L\nON S.VID = L.VID  AND L.VIN = S.VIN\nWHERE ( ORG.ID <>\tL.ORGANIZATION_ID\tOR\nS.name\t<>\tL.name\tOR\nS.license_plate_number\t<>\tL.license_plate_number\tOR\nCASE WHEN  S.STATUS IN ('OPERATING','RESUMING','CREATED','READY','CONNECTED') THEN 'C'\n     WHEN  S.STATUS = 'TERMINATING' THEN 'T'\n     WHEN  S.STATUS = 'SUSPENDED' THEN 'O'\nEND\t<>\tL.status\tOR\nS.status_changed_date\t<>\tL.status_changed_date\tOR\nS.termination_date\t<>\tL.termination_date\tOR\nCASE WHEN S.TYPE = 'RIGID_HEAVY_TRUCK' THEN 'R'\n     WHEN S.TYPE = 'ARTICULATED_TRUCK' THEN 'A'\n\t WHEN S.TYPE = 'LCV' THEN 'L'\n     WHEN S.TYPE = 'TRAILER' THEN 'T'\t \n\t WHEN S.TYPE = 'VL'  THEN 'V'\n\t WHEN S.TYPE = 'SEMITRAILER' THEN 'S'\n\t WHEN S.TYPE = 'NONE' THEN 'N'\n\t ELSE 'N' END\t<>\tL.TYPE\tOR\nS.TCU_ID\t<>\tL.TCU_ID\tOR\nS.tcu_serial_number\t<>\tL.tcu_serial_number\tOR\nS.tcu_brand\t<>\tL.tcu_brand\tOR\nS.tcu_version\t<>\tL.tcu_version  OR\nS.is_tcu_register\t<>\tL.is_tcu_register  OR\nS.reference_date\t<>\tL.reference_date  OR\nVP.ID     \t<>\tL.vehicle_property_id  OR\n(SELECT EXTRACT(EPOCH FROM CAST(S.CREATED_AT AS TIMESTAMP)) * 1000)\t<>\tL.CREATED_AT  OR\nS.model_id\t<>\tL.model_id  OR\nCASE WHEN SUBSTRING(S.VIN,1,3) IS NOT NULL AND SUBSTRING(S.VIN,1,3) = TRIM(OM.VIN_PREFIX)\n     THEN OM.ID\n     ELSE (SELECT ID FROM MASTER.OEM WHERE TRIM(VIN_PREFIX) ISNULL)  END\t<>\tL.OEM_ID  OR\nCASE WHEN SUBSTRING(S.VIN,1,3) IS NOT NULL AND SUBSTRING(S.VIN,1,3) = TRIM(OM.VIN_PREFIX)\n     THEN OM.OEM_ORGANISATION_ID \n     ELSE (SELECT OEM_ORGANISATION_ID FROM MASTER.OEM WHERE TRIM(VIN_PREFIX) ISNULL)  END\t<>\tL.OEM_ORGANISATION_ID  OR\nCASE WHEN S.STATUS = 'SUSPENDED' THEN 'U' ELSE 'H' END\t<>\tL.OPT_IN  OR\n(SELECT EXTRACT(EPOCH FROM CAST(S.MODIFIED_AT AS TIMESTAMP)) * 1000)\t<>\tL.MODIFIED_AT  OR\nS.IS_OTA\t<>\tL.IS_OTA  OR\nS.MODIFIED_BY\t<>\tL.MODIFIED_BY  OR\nS.FUEL_TYPE\t<>\tL.FUEL_TYPE  OR\n  L.ID IS NULL\n);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.VEHICLE_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "status_changed_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "status_changed_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "termination_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "termination_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										},
										"sink": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vehicle_property_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "vehicle_property_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "modified_at",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "modified_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										},
										"sink": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "modified_by",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "modified_by",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Vehicle_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Vehicle_CHG",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update_Vehicle_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Vehicle_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.VEHICLE L \nSET\t \nORGANIZATION_ID\t=\tS.ORGANIZATION_ID\t,\nNAME\t=\tS.NAME\t,\nVIN\t=\tS.VIN\t,\nLICENSE_PLATE_NUMBER\t=\tS.LICENSE_PLATE_NUMBER\t,\nSTATUS\t=\tS.STATUS\t,\nSTATUS_CHANGED_DATE\t=\tS.STATUS_CHANGED_DATE\t,\nTERMINATION_DATE\t=\tS.TERMINATION_DATE\t,\nTYPE\t\t=\tS.TYPE\t,\nTCU_ID\t=\tS.TCU_ID\t,\nTCU_SERIAL_NUMBER\t=\tS.TCU_SERIAL_NUMBER\t,\nTCU_BRAND\t=\tS.TCU_BRAND\t,\nTCU_VERSION\t=\tS.TCU_VERSION\t,\nIS_TCU_REGISTER\t=\tS.IS_TCU_REGISTER  ,\nREFERENCE_DATE\t=\tS.REFERENCE_DATE  ,\nVEHICLE_PROPERTY_ID\t=\tS.VEHICLE_PROPERTY_ID  ,\nCREATED_AT\t=\tS.CREATED_AT  ,\nMODEL_ID\t=\tS.MODEL_ID  ,\nOEM_ID\t=\tS.OEM_ID  ,\nOEM_ORGANISATION_ID\t=\tS.OEM_ORGANISATION_ID  ,\nOPT_IN\t=\tS.OPT_IN  ,\nMODIFIED_AT\t=\tS.MODIFIED_AT  ,\nIS_OTA\t=\tS.IS_OTA  ,\nMODIFIED_BY\t=\tS.MODIFIED_BY  ,\nFUEL_TYPE\t=\tS.FUEL_TYPE  \nFROM    staging.Vehicle_CHG S\nWHERE L.VID = S.VID \nAND L.VIN = S.VIN\n  AND  S.CHG_FLG     = 'X';\n\nselect * from staging.vehicle_chg ;"
							},
							"dataset": {
								"referenceName": "Vehicle",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Vehicle",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_Vehicle_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.ORGANIZATION_ID       ,\nE.NAME                  ,\nE.VIN                   ,\nE.LICENSE_PLATE_NUMBER  ,\nE.STATUS                ,\nE.STATUS_CHANGED_DATE   ,\nE.TERMINATION_DATE      ,\nE.VID                   ,\nE.TYPE                  ,\nE.TCU_ID                ,\nE.TCU_SERIAL_NUMBER     ,\nE.TCU_BRAND             ,\nE.TCU_VERSION           ,\nE.IS_TCU_REGISTER       ,\nE.REFERENCE_DATE        ,\nE.VEHICLE_PROPERTY_ID   ,\nE.CREATED_AT            ,\nE.MODEL_ID              ,\nE.OEM_ID                ,\nE.OEM_ORGANISATION_ID   ,\nE.OPT_IN                ,\nE.MODIFIED_AT           ,\nE.IS_OTA                ,\nE.MODIFIED_BY           ,\nE.FUEL_TYPE             \nFROM staging.Vehicle_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.VEHICLE L\n             WHERE    L.VID = E.VID AND L.VIN = E.VIN)  and E.VIN is not null\nORDER BY \n    \tE.VID,E.VIN;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "organization_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "vin",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "license_plate_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "status_changed_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "status_changed_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "termination_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "termination_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "vid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_serial_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "tcu_version",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										},
										"sink": {
											"name": "is_tcu_register",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vehicle_property_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "vehicle_property_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "created_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "oem_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "oem_organisation_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "modified_at",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "modified_at",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										},
										"sink": {
											"name": "is_ota",
											"type": "Boolean",
											"physicalType": "boolean"
										}
									},
									{
										"source": {
											"name": "modified_by",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "modified_by",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "fuel_type",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Vehicle_CHG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Vehicle",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VehicleProperties_CT1",
						"description": "Migrate Organization data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "SELECT distinct\nvh.vehicle_creation_date as manufacture_date,\nnull as delivery_date,\nvh.brand as make,\nvh.extra_length as length,\nvh.extra_height as height,\nvh.extra_gross_weight as weight,\nnull as engine_id,\nvh.extra_engine_type as engine_type,\nvh.engine_power,\nvh.extra_coolant as engine_coolant,\nCASE WHEN vh.emission_level  is NULL THEN vh.CO2_NORM END as engine_emission_level,\nvh.extra_chassis_number as chasis_id,\nvh.extra_rear_overhang as chasis_rear_overhang,\ncase when vh.axle_configuration is null then REPLACE(JSON_EXTRACT(co.metadata,'$.wheelPlanType'),'\"','') end  as driveline_axle_configuration,\nvh.extra_wheel_base as driveline_wheel_base,\nvh.extra_tyre_size_front_axle_1 as driveline_tire_size,\nnull as transmission_gearbox_id,\nvh.extra_gearbox_type  as transmission_gearbox_type,\nvh.extra_chassis_number as cabin_id,\nnull as series_id,\nREPLACE(JSON_EXTRACT(co.metadata,'$.sdType'),'\"','') as  series_vehicle_range,\ncase when vh.model_year is null then vh.construction_year end as model_year,\nvh.extra_cab_type as cabin_type,\nvh.extra_roof_spoiler  as cabin_roofspoiler,\n'ECU Type' as electronic_control_unit_type,\n'ECU control unit (SCU)' as electronic_control_unit_name,\n'Gross' as weight_type,\nCASE WHEN vh.extra_side_skirts = 'side skirts' THEN 'Yes' ELSE 'No' END AS chasis_side_skirts,\nCASE WHEN vh.extra_side_collars = 'side collars' THEN 'Yes' ELSE 'No' END AS chasis_side_collar,\nvh.extra_width  as width,\nvh.model_name as type_id,\nvh.vehicle_vid\n\nfrom cle_pc_cvp_fap.vehicle vh\nleft join daf.co_connected_object co\non co.internal_id = vh.vehicle_vid\nleft join daf.co_connected_object_type typ\non typ.id = co.connected_object_type\nleft join daf.co_third_party prty\non typ.third_party_id = prty.id\nleft join cle_pc_cvp_fap.equipment eq\non eq.vehicle_id = vh.id\nwhere vh.extra_chassis_number is not null;\n\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "manufacture_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "Double"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "Double"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "Double"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "Double"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vehicle_vid",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_vid",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_CT1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties_Source",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "VehicleProperties_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "VehicleProperties_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT DISTINCT\n\tcoalesce(L.ID,0) AS ID,\n\t(select extract(epoch from cast(vp_dup.MANUFACTURE_DATE as timestamp))  * 1000) as MANUFACTURE_DATE,\n  \nS.DELIVERY_DATE                              ,\nS.MAKE                                       ,\nS.LENGTH                                     ,\nS.HEIGHT                                     ,\nS.WEIGHT                                     ,\nS.ENGINE_ID                                  ,\nS.ENGINE_TYPE                                ,\nS.ENGINE_POWER                               ,\nS.ENGINE_COOLANT                             ,\nS.ENGINE_EMISSION_LEVEL                      ,\nS.CHASIS_ID                                  ,\nS.CHASIS_REAR_OVERHANG                       ,\nS.DRIVELINE_AXLE_CONFIGURATION               ,\nS.DRIVELINE_WHEEL_BASE                       ,\nS.DRIVELINE_TIRE_SIZE                        ,\nS.TRANSMISSION_GEARBOX_ID                    ,\nS.TRANSMISSION_GEARBOX_TYPE                  ,\nS.CABIN_ID                                   ,\nS.SERIES_ID                                  ,\nS.SERIES_VEHICLE_RANGE                       ,\nS.MODEL_YEAR                                 ,\nS.CABIN_TYPE                                 ,\nS.CABIN_ROOFSPOILER                          ,\nS.ELECTRONIC_CONTROL_UNIT_TYPE               ,\nS.ELECTRONIC_CONTROL_UNIT_NAME               ,\nS.WEIGHT_TYPE                                ,\nS.CHASIS_SIDE_SKIRTS                         ,\nS.CHASIS_SIDE_COLLAR                         ,\nS.WIDTH                                      ,\nS.TYPE_ID                        ,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMeSTAMP AS LOAD_DT\n\t\nFROM\n       public.VehicleProperties S\nLEFT JOIN \n       master.VehicleProperties L\nON S.CHASIS_ID = L.CHASIS_ID\nLEFT JOIN (SELECT chasis_id,MAX(MANUFACTURE_DATE) as manufacture_date FROM public.vehicleproperties group by chasis_id) vp_dup\nON vp_dup.CHASIS_ID = S.CHASIS_ID\nWHERE (\n(select extract(epoch from cast(vp_dup.MANUFACTURE_DATE as timestamp))  * 1000)\t<>\tL.MANUFACTURE_DATE\tOR\nS.DELIVERY_DATE\t<>\tL.DELIVERY_DATE\tOR\nS.MAKE\t<>\tL.MAKE\tOR\nS.LENGTH\t<>\tL.LENGTH\tOR\nS.HEIGHT\t<>\tL.HEIGHT\tOR\nS.WEIGHT\t<>\tL.WEIGHT\tOR\nS.ENGINE_ID\t\t<>\tL.ENGINE_ID\tOR\nS.ENGINE_TYPE\t<>\tL.ENGINE_TYPE\tOR\nS.ENGINE_POWER\t<>\tL.ENGINE_POWER\tOR\nS.ENGINE_COOLANT\t<>\tL.ENGINE_COOLANT\tOR\nS.ENGINE_EMISSION_LEVEL\t<>\tL.ENGINE_EMISSION_LEVEL\tOR\nS.CHASIS_REAR_OVERHANG\t<>\tL.CHASIS_REAR_OVERHANG  OR\nS.DRIVELINE_AXLE_CONFIGURATION\t<>\tL.DRIVELINE_AXLE_CONFIGURATION  OR\nS.DRIVELINE_WHEEL_BASE\t<>\tL.DRIVELINE_WHEEL_BASE  OR\nS.DRIVELINE_TIRE_SIZE\t<>\tL.DRIVELINE_TIRE_SIZE  OR\nS.TRANSMISSION_GEARBOX_ID\t<>\tL.TRANSMISSION_GEARBOX_ID  OR\nS.TRANSMISSION_GEARBOX_TYPE\t<>\tL.TRANSMISSION_GEARBOX_TYPE  OR\nS.CABIN_ID\t<>\tL.CABIN_ID  OR\nS.SERIES_ID\t<>\tL.SERIES_ID  OR\nS.SERIES_VEHICLE_RANGE\t<>\tL.SERIES_VEHICLE_RANGE  OR\nS.MODEL_YEAR\t<>\tL.MODEL_YEAR  OR\nS.CABIN_TYPE\t<>\tL.CABIN_TYPE  OR\nS.CABIN_ROOFSPOILER\t<>\tL.CABIN_ROOFSPOILER  OR\nS.ELECTRONIC_CONTROL_UNIT_TYPE\t<>\tL.ELECTRONIC_CONTROL_UNIT_TYPE  OR\nS.ELECTRONIC_CONTROL_UNIT_NAME\t<>\tL.ELECTRONIC_CONTROL_UNIT_NAME  OR\nS.WEIGHT_TYPE\t<>\tL.WEIGHT_TYPE  OR\nS.CHASIS_SIDE_SKIRTS\t<>\tL.CHASIS_SIDE_SKIRTS  OR\nS.CHASIS_SIDE_COLLAR\t<>\tL.CHASIS_SIDE_COLLAR  OR\nS.WIDTH\t<>\tL.WIDTH  OR\nS.TYPE_ID\t<>\tL.TYPE_ID  OR\n\t    L.ID IS NULL\n);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.VEHICLEPROPERTIES_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "manufacture_date",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties_CHG",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update_VehicleProperties_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VehicleProperties_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.VEHICLEPROPERTIES L \nSET\t \nMANUFACTURE_DATE\t=\tS.MANUFACTURE_DATE\t,\nDELIVERY_DATE\t=\tS.DELIVERY_DATE\t,\nMAKE\t=\tS.MAKE\t,\nLENGTH\t=\tS.LENGTH\t,\nHEIGHT\t=\tS.HEIGHT\t,\nWEIGHT\t=\tS.WEIGHT\t,\nENGINE_ID\t\t=\tS.ENGINE_ID\t,\nENGINE_TYPE\t=\tS.ENGINE_TYPE\t,\nENGINE_POWER\t=\tS.ENGINE_POWER\t,\nENGINE_COOLANT\t=\tS.ENGINE_COOLANT\t,\nENGINE_EMISSION_LEVEL\t=\tS.ENGINE_EMISSION_LEVEL\t,\nCHASIS_REAR_OVERHANG\t=\tS.CHASIS_REAR_OVERHANG  ,\nDRIVELINE_AXLE_CONFIGURATION\t=\tS.DRIVELINE_AXLE_CONFIGURATION  ,\nDRIVELINE_WHEEL_BASE\t=\tS.DRIVELINE_WHEEL_BASE  ,\nDRIVELINE_TIRE_SIZE\t=\tS.DRIVELINE_TIRE_SIZE  ,\nTRANSMISSION_GEARBOX_ID\t=\tS.TRANSMISSION_GEARBOX_ID  ,\nTRANSMISSION_GEARBOX_TYPE\t=\tS.TRANSMISSION_GEARBOX_TYPE  ,\nCABIN_ID\t=\tS.CABIN_ID  ,\nSERIES_ID\t=\tS.SERIES_ID  ,\nSERIES_VEHICLE_RANGE\t=\tS.SERIES_VEHICLE_RANGE  ,\nMODEL_YEAR\t=\tS.MODEL_YEAR  ,\nCABIN_TYPE\t=\tS.CABIN_TYPE  ,\nCABIN_ROOFSPOILER\t=\tS.CABIN_ROOFSPOILER  ,\nELECTRONIC_CONTROL_UNIT_TYPE\t=\tS.ELECTRONIC_CONTROL_UNIT_TYPE  ,\nELECTRONIC_CONTROL_UNIT_NAME\t=\tS.ELECTRONIC_CONTROL_UNIT_NAME  ,\nWEIGHT_TYPE\t=\tS.WEIGHT_TYPE  ,\nCHASIS_SIDE_SKIRTS\t=\tS.CHASIS_SIDE_SKIRTS  ,\nCHASIS_SIDE_COLLAR\t=\tS.CHASIS_SIDE_COLLAR  ,\nWIDTH\t=\tS.WIDTH  ,\nTYPE_ID\t=\tS.TYPE_ID  \nFROM    staging.VehicleProperties_CHG S\nWHERE L.CHASIS_ID = S.CHASIS_ID \n  AND  S.CHG_FLG     = 'X';\n  \nselect * from staging.vehicleproperties_chg;"
							},
							"dataset": {
								"referenceName": "VehicleProperties",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "VehicleProperties",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_VehicleProperties_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.MANUFACTURE_DATE                           ,\nE.DELIVERY_DATE                              ,\nE.MAKE                                       ,\nE.LENGTH                                     ,\nE.HEIGHT                                     ,\nE.WEIGHT                                     ,\nE.ENGINE_ID                                  ,\nE.ENGINE_TYPE                                ,\nE.ENGINE_POWER                               ,\nE.ENGINE_COOLANT                             ,\nE.ENGINE_EMISSION_LEVEL                      ,\nE.CHASIS_ID                                  ,\nE.CHASIS_REAR_OVERHANG                       ,\nE.DRIVELINE_AXLE_CONFIGURATION               ,\nE.DRIVELINE_WHEEL_BASE                       ,\nE.DRIVELINE_TIRE_SIZE                        ,\nE.TRANSMISSION_GEARBOX_ID                    ,\nE.TRANSMISSION_GEARBOX_TYPE                  ,\nE.CABIN_ID                                   ,\nE.SERIES_ID                                  ,\nE.SERIES_VEHICLE_RANGE                       ,\nE.MODEL_YEAR                                 ,\nE.CABIN_TYPE                                 ,\nE.CABIN_ROOFSPOILER                          ,\nE.ELECTRONIC_CONTROL_UNIT_TYPE               ,\nE.ELECTRONIC_CONTROL_UNIT_NAME               ,\nE.WEIGHT_TYPE                                ,\nE.CHASIS_SIDE_SKIRTS                         ,\nE.CHASIS_SIDE_COLLAR                         ,\nE.WIDTH                                      ,\nE.TYPE_ID                        \nFROM staging.VehicleProperties_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.VEHICLEPROPERTIES L\n             WHERE    L.CHASIS_ID = E.CHASIS_ID)\nORDER BY \n    \tCHASIS_ID;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_CHG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties_CT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_volume",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "vehiclefueltankproperties"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_volume",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chg_flg",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load_dt",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "vehiclefueltankproperties_chg"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_fuel_tank_volume",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "vehiclefueltankproperties"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleFuelTankProperties')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VehicleFuelTankProperties_CT1",
						"description": "Migrate Organization data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select distinct vh.id,\nvh.vehicle_vid,\nvh.extra_chassis_number as chasis_fuel_tank_number,\nvh.extra_volume_fuel_tank as chasis_fuel_tank_volume\nfrom cle_pc_cvp_fap.vehicle vh\nleft join daf.co_connected_object co\non co.internal_id = vh.vehicle_vid\nleft join daf.co_connected_object_type typ\non typ.id = co.connected_object_type\nleft join daf.co_third_party prty\non typ.third_party_id = prty.id\nWHERE vh.extra_chassis_number is not null;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "chasis_fuel_tank_number",
											"type": "String"
										},
										"sink": {
											"name": "chasis_fuel_tank_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_fuel_tank_volume",
											"type": "Double"
										},
										"sink": {
											"name": "chasis_fuel_tank_volume",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vehicle_vid",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_vid",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleFuelTankProperties_CT1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleFuelTankProperties_Source",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "VehicleFuelTankProperties_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "VehicleFuelTankProperties_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT DISTINCT\n\tcoalesce(L.ID,0) AS ID,\n\tvh.ID as VEHICLE_ID                      ,  \nS.CHASIS_FUEL_TANK_NUMBER                              ,\nS.CHASIS_FUEL_TANK_VOLUME                                       ,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMeSTAMP AS LOAD_DT\n\t\nFROM\n       public.VehicleFuelTankProperties S\nLEFT JOIN master.vehicle vh\non vh.vid = S.vehicle_vid\nLEFT JOIN \n       master.VehicleFuelTankProperties L\nON vh.id = L.vehicle_id\n\nWHERE (\nS.CHASIS_FUEL_TANK_NUMBER\t<>\tL.CHASIS_FUEL_TANK_NUMBER  OR\n\tS.CHASIS_FUEL_TANK_VOLUME\t<>\tL.CHASIS_FUEL_TANK_VOLUME  OR\n\t    L.ID IS NULL\n);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.VEHICLEPROPERTIES_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "manufacture_date",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleFuelTankProperties_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleFuelTankProperties_CHG",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update_VehicleProperties_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VehicleFuelTankProperties_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.VehicleFuelTankProperties L \nSET\t \nCHASIS_FUEL_TANK_NUMBER\t=\tS.CHASIS_FUEL_TANK_NUMBER  ,\nCHASIS_FUEL_TANK_VOLUME\t=\tS.CHASIS_FUEL_TANK_VOLUME  \nFROM    staging.VehicleFuelTankProperties_CHG S\nWHERE L.vehicle_id = S.vehicle_id \n  AND  S.CHG_FLG     = 'X';\n\nselect * from staging.vehiclefueltankproperties_chg;"
							},
							"dataset": {
								"referenceName": "VehicleFuelTankProperties",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "VehicleFuelTankProperties",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_VehicleProperties_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.vehicle_id       ,\nE.CHASIS_FUEL_TANK_NUMBER                  ,\nE.CHASIS_FUEL_TANK_VOLUME\nFROM staging.VehicleFuelTankProperties_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.VehicleFuelTankProperties_CHG L\n             WHERE    L.vehicle_id = E.vehicle_id)\nORDER BY \n    \tCHASIS_FUEL_TANK_NUMBER;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleFuelTankProperties_CHG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VehicleFuelTankProperties_CT1')]",
				"[concat(variables('factoryId'), '/datasets/VehicleFuelTankProperties_Source')]",
				"[concat(variables('factoryId'), '/datasets/VehicleFuelTankProperties_CHG')]",
				"[concat(variables('factoryId'), '/datasets/VehicleFuelTankProperties')]"
			]
		}
	]
}