daf-lan3-d-euwe-adf/PartialArmTemplates/ArmTemplate_8_21_2021_20_1_32.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "daf-lan3-d-euwe-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Organization')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Organization_CT1",
						"description": "Migrate Organization data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select * from  daf_ct_wl.organization where org_id not in (select distinct org_id from  daf_ct_wl.organization_duplicacy)\nunion\nselect * from  daf_ct_wl.organization where org_id in (select distinct org_id from  daf_ct_wl.organization_duplicacy)  and street is not null;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "org_id",
											"type": "String"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "Byte[]"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "reference_date",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_CT1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Organization_source",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Organization_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Organization_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tcoalesce(L.ID,0) AS ID,\nS.ORG_ID                        ,\nS.TYPE                          ,\nS.NAME                          ,\nS.ADDRESS_TYPE                  ,\nS.STREET                        ,\nsubstring(S.STREET,'[0-9]+')  as STREET_NUMBER                  ,\nS.POSTAL_CODE                   ,\nS.CITY                          ,\nCASE WHEN S.COUNTRY_CODE  IS NOT NULL THEN cnty.code ELSE NULL END AS country_code,\n(select extract(epoch from cast(S.reference_date as timestamp)) * 1000) as REFERENCE_DATE,\nS.PREFERENCE_ID                 ,\nS.VEHICLE_DEFAULT_OPT_IN        ,\nS.DRIVER_DEFAULT_OPT_IN         ,\nS.STATE                         ,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMeSTAMP AS LOAD_DT\n\t\nFROM\n       public.organization S\nLEFT JOIN \n       master.organization L\nON S.ORG_ID = L.ORG_ID\nLEFT join master.country cnty\non s.country_code = cnty.name\nWHERE ( S.TYPE\t<>\tL.TYPE\tOR\nS.NAME\t<>\tL.NAME\tOR\nS.ADDRESS_TYPE\t<>\tL.ADDRESS_TYPE\tOR\nS.STREET\t<>\tL.STREET\tOR\nS.STREET_NUMBER\t<>\tL.STREET_NUMBER\tOR\nS.POSTAL_CODE\t<>\tL.POSTAL_CODE\tOR\nS.CITY\t<>\tL.CITY\tOR\nS.COUNTRY_CODE\t<>\tL.COUNTRY_CODE\tOR\n(select extract(epoch from cast(S.reference_date as timestamp)) * 1000)\t<>\tL.REFERENCE_DATE\tOR\nS.PREFERENCE_ID\t<>\tL.PREFERENCE_ID\tOR\nS.VEHICLE_DEFAULT_OPT_IN\t<>\tL.VEHICLE_DEFAULT_OPT_IN\tOR\nS.DRIVER_DEFAULT_OPT_IN\t<>\tL.DRIVER_DEFAULT_OPT_IN\tOR\nS.STATE\t<>\tL.STATE  OR\n\t    L.ID IS NULL);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.ORGANIZATION_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "preference_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "preference_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Organization_CHG",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update_Organization_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Organization_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.ORGANIZATION L \nSET\t \nTYPE\t=\tE.TYPE\t,\nNAME\t=\tE.NAME\t,\nADDRESS_TYPE\t=\tE.ADDRESS_TYPE\t,\nSTREET\t=\tE.STREET\t,\nSTREET_NUMBER\t=\tE.STREET_NUMBER\t,\nPOSTAL_CODE\t=\tE.POSTAL_CODE\t,\nCITY\t=\tE.CITY\t,\nCOUNTRY_CODE\t=\tE.COUNTRY_CODE\t,\nREFERENCE_DATE\t=\tE.REFERENCE_DATE\t,\nPREFERENCE_ID\t=\tE.PREFERENCE_ID\t,\nVEHICLE_DEFAULT_OPT_IN\t=\tE.VEHICLE_DEFAULT_OPT_IN\t,\nDRIVER_DEFAULT_OPT_IN\t=\tE.DRIVER_DEFAULT_OPT_IN\t,\nSTATE\t=\tE.STATE\nFROM    staging.organization_chg E\nWHERE L.org_id = E.org_id \n  AND  E.CHG_FLG     = 'X';\n  \nSELECT * FROM STAGING.ORGANIZATION_CHG WHERE CHG_FLG = 'X';"
							},
							"dataset": {
								"referenceName": "Organization",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Organization",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_Organization_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tE.ORG_ID                        ,\n\tE.NAME                          ,\n\tE.ADDRESS_TYPE                  ,\n\tCASE WHEN E.STREET  IS NOT NULL THEN E.STREET ELSE '' END AS STREET  ,\n\tCASE WHEN E.STREET_NUMBER  IS NOT NULL THEN E.STREET_NUMBER ELSE '' END AS STREET_NUMBER ,\n\tCASE WHEN E.POSTAL_CODE  IS NOT NULL THEN E.POSTAL_CODE ELSE '' END AS POSTAL_CODE                 ,\n\tCASE WHEN E.CITY IS NOT NULL THEN E.CITY ELSE '' END AS CITY                         ,\n\tCASE WHEN E.COUNTRY_CODE IS NOT NULL THEN E.COUNTRY_CODE ELSE '' END AS COUNTRY_CODE                 ,\n\tE.REFERENCE_DATE                ,\n\tE.VEHICLE_DEFAULT_OPT_IN        ,\n\tE.DRIVER_DEFAULT_OPT_IN         ,\n\tE.STATE                \n\t\nFROM staging.Organization_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.ORGANIZATION L\n             WHERE    L.ORG_ID = E.ORG_ID)\nORDER BY \n    \tORG_ID;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_CHG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Organization",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Organization_CT1",
						"description": "Migrate Organization data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "select * from  daf_ct_wl.organization where org_id not in (select distinct org_id from  daf_ct_wl.organization_duplicacy)\nunion\nselect * from  daf_ct_wl.organization where org_id in (select distinct org_id from  daf_ct_wl.organization_duplicacy)  and street is not null;",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "org_id",
											"type": "String"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "Byte[]"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "reference_date",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_CT1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Organization_source",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Organization_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Organization_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tcoalesce(L.ID,0) AS ID,\nS.ORG_ID                        ,\nS.TYPE                          ,\nS.NAME                          ,\nS.ADDRESS_TYPE                  ,\nS.STREET                        ,\nsubstring(S.STREET,'[0-9]+')  as STREET_NUMBER                  ,\nS.POSTAL_CODE                   ,\nS.CITY                          ,\nCASE WHEN S.COUNTRY_CODE  IS NOT NULL THEN cnty.code ELSE NULL END AS country_code,\n(select extract(epoch from cast(S.reference_date as timestamp)) * 1000) as REFERENCE_DATE,\nS.PREFERENCE_ID                 ,\nS.VEHICLE_DEFAULT_OPT_IN        ,\nS.DRIVER_DEFAULT_OPT_IN         ,\nS.STATE                         ,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMeSTAMP AS LOAD_DT\n\t\nFROM\n       public.organization S\nLEFT JOIN \n       master.organization L\nON S.ORG_ID = L.ORG_ID\nLEFT join master.country cnty\non s.country_code = cnty.name\nWHERE ( S.TYPE\t<>\tL.TYPE\tOR\nS.NAME\t<>\tL.NAME\tOR\nS.ADDRESS_TYPE\t<>\tL.ADDRESS_TYPE\tOR\nS.STREET\t<>\tL.STREET\tOR\nS.STREET_NUMBER\t<>\tL.STREET_NUMBER\tOR\nS.POSTAL_CODE\t<>\tL.POSTAL_CODE\tOR\nS.CITY\t<>\tL.CITY\tOR\nS.COUNTRY_CODE\t<>\tL.COUNTRY_CODE\tOR\n(select extract(epoch from cast(S.reference_date as timestamp)) * 1000)\t<>\tL.REFERENCE_DATE\tOR\nS.PREFERENCE_ID\t<>\tL.PREFERENCE_ID\tOR\nS.VEHICLE_DEFAULT_OPT_IN\t<>\tL.VEHICLE_DEFAULT_OPT_IN\tOR\nS.DRIVER_DEFAULT_OPT_IN\t<>\tL.DRIVER_DEFAULT_OPT_IN\tOR\nS.STATE\t<>\tL.STATE  OR\n\t    L.ID IS NULL);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.ORGANIZATION_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "preference_id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "preference_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Organization_CHG",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update_Organization_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Organization_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.ORGANIZATION L \nSET\t \nTYPE\t=\tE.TYPE\t,\nNAME\t=\tE.NAME\t,\nADDRESS_TYPE\t=\tE.ADDRESS_TYPE\t,\nSTREET\t=\tE.STREET\t,\nSTREET_NUMBER\t=\tE.STREET_NUMBER\t,\nPOSTAL_CODE\t=\tE.POSTAL_CODE\t,\nCITY\t=\tE.CITY\t,\nCOUNTRY_CODE\t=\tE.COUNTRY_CODE\t,\nREFERENCE_DATE\t=\tE.REFERENCE_DATE\t,\nPREFERENCE_ID\t=\tE.PREFERENCE_ID\t,\nVEHICLE_DEFAULT_OPT_IN\t=\tE.VEHICLE_DEFAULT_OPT_IN\t,\nDRIVER_DEFAULT_OPT_IN\t=\tE.DRIVER_DEFAULT_OPT_IN\t,\nSTATE\t=\tE.STATE\nFROM    staging.organization_chg E\nWHERE L.org_id = E.org_id \n  AND  E.CHG_FLG     = 'X';\n  \nSELECT * FROM STAGING.ORGANIZATION_CHG WHERE CHG_FLG = 'X';"
							},
							"dataset": {
								"referenceName": "Organization",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Organization",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_Organization_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tE.ORG_ID                        ,\n\tE.NAME                          ,\n\tE.ADDRESS_TYPE                  ,\n\tCASE WHEN E.STREET  IS NOT NULL THEN E.STREET ELSE '' END AS STREET  ,\n\tCASE WHEN E.STREET_NUMBER  IS NOT NULL THEN E.STREET_NUMBER ELSE '' END AS STREET_NUMBER ,\n\tCASE WHEN E.POSTAL_CODE  IS NOT NULL THEN E.POSTAL_CODE ELSE '' END AS POSTAL_CODE                 ,\n\tCASE WHEN E.CITY IS NOT NULL THEN E.CITY ELSE '' END AS CITY                         ,\n\tCASE WHEN E.COUNTRY_CODE IS NOT NULL THEN E.COUNTRY_CODE ELSE '' END AS COUNTRY_CODE                 ,\n\tE.REFERENCE_DATE                ,\n\tE.VEHICLE_DEFAULT_OPT_IN        ,\n\tE.DRIVER_DEFAULT_OPT_IN         ,\n\tE.STATE                \n\t\nFROM staging.Organization_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.ORGANIZATION L\n             WHERE    L.ORG_ID = E.ORG_ID)\nORDER BY \n    \tORG_ID;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "org_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "address_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "street_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "postal_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "reference_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "vehicle_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "driver_default_opt_in",
											"type": "String",
											"physicalType": "character"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "character"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organization_CHG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Organization",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VehicleProperties_CT1",
						"description": "Migrate Organization data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"query": "SELECT distinct\nvh.vehicle_creation_date as manufacture_date,\nnull as delivery_date,\nvh.brand as make,\nvh.extra_length as length,\nvh.extra_height as height,\nvh.extra_gross_weight as weight,\nnull as engine_id,\nvh.extra_engine_type as engine_type,\nvh.engine_power,\nvh.extra_coolant as engine_coolant,\nCASE WHEN vh.emission_level  is NULL THEN vh.CO2_NORM END as engine_emission_level,\nvh.extra_chassis_number as chasis_id,\nvh.extra_rear_overhang as chasis_rear_overhang,\ncase when vh.axle_configuration is null then REPLACE(JSON_EXTRACT(co.metadata,'$.wheelPlanType'),'\"','') end  as driveline_axle_configuration,\nvh.extra_wheel_base as driveline_wheel_base,\nvh.extra_tyre_size_front_axle_1 as driveline_tire_size,\nnull as transmission_gearbox_id,\nvh.extra_gearbox_type  as transmission_gearbox_type,\nvh.extra_chassis_number as cabin_id,\nnull as series_id,\nREPLACE(JSON_EXTRACT(co.metadata,'$.sdType'),'\"','') as  series_vehicle_range,\ncase when vh.model_year is null then vh.construction_year end as model_year,\nvh.extra_cab_type as cabin_type,\nvh.extra_roof_spoiler  as cabin_roofspoiler,\n'ECU Type' as electronic_control_unit_type,\n'ECU control unit (SCU)' as electronic_control_unit_name,\n'Gross' as weight_type,\nCASE WHEN vh.extra_side_skirts = 'side skirts' THEN 'Yes' ELSE 'No' END AS chasis_side_skirts,\nCASE WHEN vh.extra_side_collars = 'side collars' THEN 'Yes' ELSE 'No' END AS chasis_side_collar,\nvh.extra_width  as width,\nvh.model_name as type_id,\nvh.vehicle_vid\n\nfrom cle_pc_cvp_fap.vehicle vh\nleft join daf.co_connected_object co\non co.internal_id = vh.vehicle_vid\nleft join daf.co_connected_object_type typ\non typ.id = co.connected_object_type\nleft join daf.co_third_party prty\non typ.third_party_id = prty.id\nleft join cle_pc_cvp_fap.equipment eq\non eq.vehicle_id = vh.id;\n\n",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "manufacture_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "Double"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "Double"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "Double"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "Double"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "vehicle_vid",
											"type": "String"
										},
										"sink": {
											"name": "vehicle_vid",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_CT1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties_Source",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "VehicleProperties_CHG",
						"description": "Compares source and target and find the records for upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "VehicleProperties_CT1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \n\tcoalesce(L.ID,0) AS ID,\n\t(select extract(epoch from cast(S.MANUFACTURE_DATE as timestamp))  * 1000) as MANUFACTURE_DATE,\n  \nS.DELIVERY_DATE                              ,\nS.MAKE                                       ,\nS.LENGTH                                     ,\nS.HEIGHT                                     ,\nS.WEIGHT                                     ,\nS.ENGINE_ID                                  ,\nS.ENGINE_TYPE                                ,\nS.ENGINE_POWER                               ,\nS.ENGINE_COOLANT                             ,\nS.ENGINE_EMISSION_LEVEL                      ,\nS.CHASIS_ID                                  ,\nS.CHASIS_REAR_OVERHANG                       ,\nS.DRIVELINE_AXLE_CONFIGURATION               ,\nS.DRIVELINE_WHEEL_BASE                       ,\nS.DRIVELINE_TIRE_SIZE                        ,\nS.TRANSMISSION_GEARBOX_ID                    ,\nS.TRANSMISSION_GEARBOX_TYPE                  ,\nS.CABIN_ID                                   ,\nS.SERIES_ID                                  ,\nS.SERIES_VEHICLE_RANGE                       ,\nS.MODEL_YEAR                                 ,\nS.CABIN_TYPE                                 ,\nS.CABIN_ROOFSPOILER                          ,\nS.ELECTRONIC_CONTROL_UNIT_TYPE               ,\nS.ELECTRONIC_CONTROL_UNIT_NAME               ,\nS.WEIGHT_TYPE                                ,\nS.CHASIS_SIDE_SKIRTS                         ,\nS.CHASIS_SIDE_COLLAR                         ,\nS.WIDTH                                      ,\nS.TYPE_ID                        ,\n\tCASE WHEN L.ID IS NULL THEN 'I' ELSE 'X' END AS CHG_FLG,\n\tCURRENT_TIMeSTAMP AS LOAD_DT\n\t\nFROM\n       public.VehicleProperties S\nLEFT JOIN \n       master.VehicleProperties L\nON S.CHASIS_ID = L.CHASIS_ID\nWHERE (\n(select extract(epoch from cast(S.MANUFACTURE_DATE as timestamp))  * 1000)\t<>\tL.MANUFACTURE_DATE\tOR\nS.DELIVERY_DATE\t<>\tL.DELIVERY_DATE\tOR\nS.MAKE\t<>\tL.MAKE\tOR\nS.LENGTH\t<>\tL.LENGTH\tOR\nS.HEIGHT\t<>\tL.HEIGHT\tOR\nS.WEIGHT\t<>\tL.WEIGHT\tOR\nS.ENGINE_ID\t\t<>\tL.ENGINE_ID\tOR\nS.ENGINE_TYPE\t<>\tL.ENGINE_TYPE\tOR\nS.ENGINE_POWER\t<>\tL.ENGINE_POWER\tOR\nS.ENGINE_COOLANT\t<>\tL.ENGINE_COOLANT\tOR\nS.ENGINE_EMISSION_LEVEL\t<>\tL.ENGINE_EMISSION_LEVEL\tOR\nS.CHASIS_REAR_OVERHANG\t<>\tL.CHASIS_REAR_OVERHANG  OR\nS.DRIVELINE_AXLE_CONFIGURATION\t<>\tL.DRIVELINE_AXLE_CONFIGURATION  OR\nS.DRIVELINE_WHEEL_BASE\t<>\tL.DRIVELINE_WHEEL_BASE  OR\nS.DRIVELINE_TIRE_SIZE\t<>\tL.DRIVELINE_TIRE_SIZE  OR\nS.TRANSMISSION_GEARBOX_ID\t<>\tL.TRANSMISSION_GEARBOX_ID  OR\nS.TRANSMISSION_GEARBOX_TYPE\t<>\tL.TRANSMISSION_GEARBOX_TYPE  OR\nS.CABIN_ID\t<>\tL.CABIN_ID  OR\nS.SERIES_ID\t<>\tL.SERIES_ID  OR\nS.SERIES_VEHICLE_RANGE\t<>\tL.SERIES_VEHICLE_RANGE  OR\nS.MODEL_YEAR\t<>\tL.MODEL_YEAR  OR\nS.CABIN_TYPE\t<>\tL.CABIN_TYPE  OR\nS.CABIN_ROOFSPOILER\t<>\tL.CABIN_ROOFSPOILER  OR\nS.ELECTRONIC_CONTROL_UNIT_TYPE\t<>\tL.ELECTRONIC_CONTROL_UNIT_TYPE  OR\nS.ELECTRONIC_CONTROL_UNIT_NAME\t<>\tL.ELECTRONIC_CONTROL_UNIT_NAME  OR\nS.WEIGHT_TYPE\t<>\tL.WEIGHT_TYPE  OR\nS.CHASIS_SIDE_SKIRTS\t<>\tL.CHASIS_SIDE_SKIRTS  OR\nS.CHASIS_SIDE_COLLAR\t<>\tL.CHASIS_SIDE_COLLAR  OR\nS.WIDTH\t<>\tL.WIDTH  OR\nS.TYPE_ID\t<>\tL.TYPE_ID  OR\n\t    L.ID IS NULL\n);"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "TRUNCATE TABLE STAGING.VEHICLEPROPERTIES_CHG;",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "manufacture_date",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "chg_flg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp with time zone"
										},
										"sink": {
											"name": "load_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties_CHG",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update_VehicleProperties_X",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "VehicleProperties_CHG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "UPDATE MASTER.VEHICLEPROPERTIES L \nSET\t \nMANUFACTURE_DATE\t=\tS.MANUFACTURE_DATE\t,\nDELIVERY_DATE\t=\tS.DELIVERY_DATE\t,\nMAKE\t=\tS.MAKE\t,\nLENGTH\t=\tS.LENGTH\t,\nHEIGHT\t=\tS.HEIGHT\t,\nWEIGHT\t=\tS.WEIGHT\t,\nCITY\t=\tS.CITY\t,\nENGINE_ID\t\t=\tS.ENGINE_ID\t,\nENGINE_TYPE\t=\tS.ENGINE_TYPE\t,\nENGINE_POWER\t=\tS.ENGINE_POWER\t,\nENGINE_COOLANT\t=\tS.ENGINE_COOLANT\t,\nENGINE_EMISSION_LEVEL\t=\tS.ENGINE_EMISSION_LEVEL\t,\nCHASIS_REAR_OVERHANG\t=\tS.CHASIS_REAR_OVERHANG  ,\nDRIVELINE_AXLE_CONFIGURATION\t=\tS.DRIVELINE_AXLE_CONFIGURATION  ,\nDRIVELINE_WHEEL_BASE\t=\tS.DRIVELINE_WHEEL_BASE  ,\nDRIVELINE_TIRE_SIZE\t=\tS.DRIVELINE_TIRE_SIZE  ,\nTRANSMISSION_GEARBOX_ID\t=\tS.TRANSMISSION_GEARBOX_ID  ,\nTRANSMISSION_GEARBOX_TYPE\t=\tS.TRANSMISSION_GEARBOX_TYPE  ,\nCABIN_ID\t=\tS.CABIN_ID  ,\nSERIES_ID\t=\tS.SERIES_ID  ,\nSERIES_VEHICLE_RANGE\t=\tS.SERIES_VEHICLE_RANGE  ,\nMODEL_YEAR\t=\tS.MODEL_YEAR  ,\nCABIN_TYPE\t=\tS.CABIN_TYPE  ,\nCABIN_ROOFSPOILER\t=\tS.CABIN_ROOFSPOILER  ,\nELECTRONIC_CONTROL_UNIT_TYPE\t=\tS.ELECTRONIC_CONTROL_UNIT_TYPE  ,\nELECTRONIC_CONTROL_UNIT_NAME\t=\tS.ELECTRONIC_CONTROL_UNIT_NAME  ,\nWEIGHT_TYPE\t=\tS.WEIGHT_TYPE  ,\nCHASIS_SIDE_SKIRTS\t=\tS.CHASIS_SIDE_SKIRTS  ,\nCHASIS_SIDE_COLLAR\t=\tS.CHASIS_SIDE_COLLAR  ,\nWIDTH\t=\tS.WIDTH  ,\nTYPE_ID\t=\tS.TYPE_ID  \nFROM    staging.VehicleProperties_CHG E\nWHERE L.CHASIS_ID = E.CHASIS_ID \n  AND  E.CHG_FLG     = 'X';\n  \nselect * from staging.vehicleproperties_chg;"
							},
							"dataset": {
								"referenceName": "VehicleProperties",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "VehicleProperties",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update_VehicleProperties_X",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT \nE.MANUFACTURE_DATE                           ,\nE.DELIVERY_DATE                              ,\nE.MAKE                                       ,\nE.LENGTH                                     ,\nE.HEIGHT                                     ,\nE.WEIGHT                                     ,\nE.ENGINE_ID                                  ,\nE.ENGINE_TYPE                                ,\nE.ENGINE_POWER                               ,\nE.ENGINE_COOLANT                             ,\nE.ENGINE_EMISSION_LEVEL                      ,\nE.CHASIS_ID                                  ,\nE.CHASIS_REAR_OVERHANG                       ,\nE.DRIVELINE_AXLE_CONFIGURATION               ,\nE.DRIVELINE_WHEEL_BASE                       ,\nE.DRIVELINE_TIRE_SIZE                        ,\nE.TRANSMISSION_GEARBOX_ID                    ,\nE.TRANSMISSION_GEARBOX_TYPE                  ,\nE.CABIN_ID                                   ,\nE.SERIES_ID                                  ,\nE.SERIES_VEHICLE_RANGE                       ,\nE.MODEL_YEAR                                 ,\nE.CABIN_TYPE                                 ,\nE.CABIN_ROOFSPOILER                          ,\nE.ELECTRONIC_CONTROL_UNIT_TYPE               ,\nE.ELECTRONIC_CONTROL_UNIT_NAME               ,\nE.WEIGHT_TYPE                                ,\nE.CHASIS_SIDE_SKIRTS                         ,\nE.CHASIS_SIDE_COLLAR                         ,\nE.WIDTH                                      ,\nE.TYPE_ID                        \nFROM staging.VehicleProperties_CHG E\nWHERE  E.CHG_FLG = 'I' \nAND NOT EXISTS (SELECT 1 FROM MASTER.VEHICLEPROPERTIES L\n             WHERE    L.CHASIS_ID = E.CHASIS_ID)\nORDER BY \n    \tCHASIS_ID;\n"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "manufacture_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "delivery_date",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "length",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "height",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_power",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_coolant",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "engine_emission_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_rear_overhang",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_axle_configuration",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_wheel_base",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "driveline_tire_size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "transmission_gearbox_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "series_vehicle_range",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "model_year",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "cabin_roofspoiler",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "electronic_control_unit_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "weight_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_skirts",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "chasis_side_collar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "width",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "type_id",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleProperties_CHG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VehicleProperties",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-08-18T13:28:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VehicleProperties_CT1')]",
				"[concat(variables('factoryId'), '/datasets/VehicleProperties_Source')]",
				"[concat(variables('factoryId'), '/datasets/VehicleProperties_CHG')]",
				"[concat(variables('factoryId'), '/datasets/VehicleProperties')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "organization_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vin",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "license_plate_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status_changed_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "termination_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_serial_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_brand",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_version",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_tcu_register",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "reference_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_property_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_organisation_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_ota",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_by",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fuel_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "vehicle"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "manufacture_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "delivery_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "make",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "length",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "height",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weight",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_power",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_coolant",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_emission_level",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_rear_overhang",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_axle_configuration",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_wheel_base",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_tire_size",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transmission_gearbox_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transmission_gearbox_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "series_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "series_vehicle_range",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_year",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_roofspoiler",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "electronic_control_unit_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "electronic_control_unit_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weight_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_side_skirts",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_side_collar",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "width",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "master",
					"table": "vehicleproperties"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "manufacture_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "delivery_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "make",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "length",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "height",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weight",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_power",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_coolant",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "engine_emission_level",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_rear_overhang",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_axle_configuration",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_wheel_base",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "driveline_tire_size",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transmission_gearbox_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transmission_gearbox_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "series_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "series_vehicle_range",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_year",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cabin_roofspoiler",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "electronic_control_unit_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "electronic_control_unit_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weight_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_side_skirts",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chasis_side_collar",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "width",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chg_flg",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load_dt",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "vehicleproperties_chg"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties_CT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleProperties_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "vehicle_vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "frontaxletype",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rearaxleload",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rearaxleratio",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tyrerearsize",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tyrefrontsize",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "vehicleproperties"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_CHG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1master",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "organization_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vin",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "license_plate_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status_changed_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "termination_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vid",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_serial_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_brand",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tcu_version",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_tcu_register",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "reference_date",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "vehicle_property_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "model_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "oem_organisation_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "opt_in",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_at",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_ota",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "modified_by",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fuel_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chg_flg",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "load_dt",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "vehicle_chg"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_CT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": []
			},
			"dependsOn": []
		}
	]
}